In [1]:
import pandas as pd
import random
import numpy as np

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
stanford = pd.read_excel('../data/SAA_FakeDB.xlsx')

In [4]:
stanford

,pref_mail_name,pref_class_year,home_city,home_state_code,home_country,home_phone_area_code,home_phone_number,home_email_address,bus_city,bus_state_code,bus_country,bus_phone_area_code,bus_phone_number,bus_email_address,first_name,last_name,pref_name_sort,email_switch,saa_email_address,gsb_email_address,other_email_address,pref_phone_area_code,pref_phone_number,pref_phone_addr_type,memb_status_desc,short_degree_string,parent_degree_string,short_degree_string_spouse,parent_degree_string_spouse,primary_sort_name,plan_name,primary_ind,0
0,NaN,NaN,London,NaN,NaN,NaN,NaN,*,NaN,NaN,Kuwait,NaN,NaN,NaN,Linda,Brown,NaN,NaN,lindab1567@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"PhD '94, BA '82",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Madrid,NaN,Japan,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,Mary,Rodriguez,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,"MA '85, BS '92",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Shanghai,NaN,USA,NaN,898 7073-217,NaN,NaN,NaN,UAE,NaN,NaN,NaN,Sarah,Rodriguez,NaN,NaN,sarah.rodriguez992@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"BS '88, BS '95, MA '85",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Chicago,IL,UAE,NaN,NaN,NaN,NaN,NaN,China,NaN,NaN,NaN,Jessica,Jones,NaN,NaN,jessicaj5803@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,MBA '81,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,1994.0,Seoul,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jessica,Martinez,NaN,NaN,jessicamartinez1707@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,NaN,Beijing,NaN,UAE,NaN,NaN,NaN,NaN,NaN,USA,NaN,NaN,NaN,Oliver,Rodriguez,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,NaN,Seoul,NaN,UAE,NaN,NaN,*,NaN,NaN,Kuwait,NaN,NaN,NaN,James,Brown,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,"BS '94, MS '92",NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,Beijing,NaN,UAE,NaN,NaN,elizabeth.martinez6250@gmail.com,NaN,NaN,Japan,NaN,NaN,NaN,Elizabeth,Martinez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"'85, MBA '87, '92",NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,NaN,2011.0,NaN,NaN,*,NaN,NaN,sbrown7443@stanfordalumni.org,NaN,NaN,Japan,NaN,NaN,NaN,Sarah,Brown,NaN,NaN,sarahb7790@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"PhD '84, MS '91",NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,Shanghai,NaN,*,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Elizabeth,Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MS '83,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
titles = ['Dr.', 'Mr.', 'Ms.', 'Mrs.']

In [6]:
stanford.pref_mail_name = random.choice(titles) + " " + stanford.first_name + " " + stanford.last_name

In [7]:
stanford

,pref_mail_name,pref_class_year,home_city,home_state_code,home_country,home_phone_area_code,home_phone_number,home_email_address,bus_city,bus_state_code,bus_country,bus_phone_area_code,bus_phone_number,bus_email_address,first_name,last_name,pref_name_sort,email_switch,saa_email_address,gsb_email_address,other_email_address,pref_phone_area_code,pref_phone_number,pref_phone_addr_type,memb_status_desc,short_degree_string,parent_degree_string,short_degree_string_spouse,parent_degree_string_spouse,primary_sort_name,plan_name,primary_ind,0
0,Dr. Linda Brown,NaN,London,NaN,NaN,NaN,NaN,*,NaN,NaN,Kuwait,NaN,NaN,NaN,Linda,Brown,NaN,NaN,lindab1567@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"PhD '94, BA '82",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Dr. Mary Rodriguez,NaN,Madrid,NaN,Japan,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,Mary,Rodriguez,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,"MA '85, BS '92",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Dr. Sarah Rodriguez,NaN,Shanghai,NaN,USA,NaN,898 7073-217,NaN,NaN,NaN,UAE,NaN,NaN,NaN,Sarah,Rodriguez,NaN,NaN,sarah.rodriguez992@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"BS '88, BS '95, MA '85",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Dr. Jessica Jones,NaN,Chicago,IL,UAE,NaN,NaN,NaN,NaN,NaN,China,NaN,NaN,NaN,Jessica,Jones,NaN,NaN,jessicaj5803@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,MBA '81,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Dr. Jessica Martinez,1994.0,Seoul,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jessica,Martinez,NaN,NaN,jessicamartinez1707@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Dr. Oliver Rodriguez,NaN,Beijing,NaN,UAE,NaN,NaN,NaN,NaN,NaN,USA,NaN,NaN,NaN,Oliver,Rodriguez,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,Dr. James Brown,NaN,Seoul,NaN,UAE,NaN,NaN,*,NaN,NaN,Kuwait,NaN,NaN,NaN,James,Brown,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,"BS '94, MS '92",NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,Dr. Elizabeth Martinez,NaN,Beijing,NaN,UAE,NaN,NaN,elizabeth.martinez6250@gmail.com,NaN,NaN,Japan,NaN,NaN,NaN,Elizabeth,Martinez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"'85, MBA '87, '92",NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,Dr. Sarah Brown,2011.0,NaN,NaN,*,NaN,NaN,sbrown7443@stanfordalumni.org,NaN,NaN,Japan,NaN,NaN,NaN,Sarah,Brown,NaN,NaN,sarahb7790@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"PhD '84, MS '91",NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,Dr. Elizabeth Smith,NaN,Shanghai,NaN,*,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Elizabeth,Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MS '83,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
sample1 = stanford[stanford['first_name'] == 'Jessica']

In [9]:
sample1

,pref_mail_name,pref_class_year,home_city,home_state_code,home_country,home_phone_area_code,home_phone_number,home_email_address,bus_city,bus_state_code,bus_country,bus_phone_area_code,bus_phone_number,bus_email_address,first_name,last_name,pref_name_sort,email_switch,saa_email_address,gsb_email_address,other_email_address,pref_phone_area_code,pref_phone_number,pref_phone_addr_type,memb_status_desc,short_degree_string,parent_degree_string,short_degree_string_spouse,parent_degree_string_spouse,primary_sort_name,plan_name,primary_ind,0
3,Dr. Jessica Jones,NaN,Chicago,IL,UAE,NaN,NaN,NaN,NaN,NaN,China,NaN,NaN,NaN,Jessica,Jones,NaN,NaN,jessicaj5803@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,MBA '81,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Dr. Jessica Martinez,1994.0,Seoul,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jessica,Martinez,NaN,NaN,jessicamartinez1707@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Dr. Jessica Johnson,NaN,Boston,MA,Japan,NaN,*,*,NaN,NaN,United States,NaN,NaN,NaN,Jessica,Johnson,NaN,NaN,jessicajohnson2888@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"'81, '87",NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Dr. Jessica Martinez,NaN,Dubai,NaN,USA,NaN,NaN,j.martinez3964@gmail.com,NaN,NaN,UAE,NaN,NaN,NaN,Jessica,Martinez,NaN,NaN,j.martinez9246@stanfordalumni.org,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,Dr. Jessica Smith,1993.0,Beijing,NaN,UAE,NaN,NaN,j.smith8032@stanfordalumni.org,NaN,NaN,USA,NaN,NaN,NaN,Jessica,Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MA '85, MBA '85, MA '96",NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Dr. Jessica Jones,NaN,Madrid,NaN,NaN,NaN,NaN,*,NaN,NaN,China,NaN,NaN,NaN,Jessica,Jones,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,Dr. Jessica Jones,NaN,Chicago,IL,United States,NaN,*,*,NaN,NaN,China,NaN,NaN,NaN,Jessica,Jones,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,Dr. Jessica Brown,NaN,Boston,MA,China,NaN,NaN,jessicab7734@stanfordalumni.org,NaN,NaN,*,NaN,NaN,NaN,Jessica,Brown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BS '97,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,Dr. Jessica Garcia,NaN,Madrid,NaN,China,NaN,*,NaN,NaN,NaN,USA,NaN,NaN,NaN,Jessica,Garcia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MA '81, MS '82",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
sample2 = stanford[stanford['first_name'] == 'Oliver']

In [11]:
sample2

,pref_mail_name,pref_class_year,home_city,home_state_code,home_country,home_phone_area_code,home_phone_number,home_email_address,bus_city,bus_state_code,bus_country,bus_phone_area_code,bus_phone_number,bus_email_address,first_name,last_name,pref_name_sort,email_switch,saa_email_address,gsb_email_address,other_email_address,pref_phone_area_code,pref_phone_number,pref_phone_addr_type,memb_status_desc,short_degree_string,parent_degree_string,short_degree_string_spouse,parent_degree_string_spouse,primary_sort_name,plan_name,primary_ind,0
37,Dr. Oliver Davis,2008.0,NaN,NaN,Japan,NaN,NaN,*,NaN,NaN,*,NaN,NaN,NaN,Oliver,Davis,NaN,NaN,oliver.davis8327@stanfordalumni.org,NaN,NaN,NaN,NaN,NaN,NaN,BS '83,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Dr. Oliver Brown,1991.0,Shanghai,NaN,USA,NaN,NaN,NaN,NaN,NaN,UAE,NaN,NaN,oliverbrown8346@gmail.com,Oliver,Brown,NaN,NaN,oliverbrown2264@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"MS '84, MD '81, MBA '88",NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,Dr. Oliver Smith,2006.0,Seoul,NaN,United States,NaN,*,NaN,NaN,NaN,China,NaN,NaN,NaN,Oliver,Smith,NaN,NaN,oliver.smith7315@stanfordalumni.org,NaN,NaN,NaN,NaN,NaN,NaN,"MS '99, PhD '99",NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,Dr. Oliver Miller,NaN,*,*,*,NaN,*,*,NaN,NaN,*,NaN,NaN,o.miller5073@alumni.stanford.edu,Oliver,Miller,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,Dr. Oliver Davis,NaN,*,*,NaN,NaN,185 5256-552,*,NaN,NaN,*,NaN,NaN,o.davis1463@gmail.com,Oliver,Davis,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,BS '88,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,Dr. Oliver Rodriguez,NaN,Beijing,NaN,UAE,NaN,NaN,NaN,NaN,NaN,USA,NaN,NaN,NaN,Oliver,Rodriguez,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

It has two Ms. Jessica Jones and unques so will insert this into the mailchimp sample

In [12]:
samples = pd.concat([sample1, sample2], axis = 0)

In [13]:
samples

,pref_mail_name,pref_class_year,home_city,home_state_code,home_country,home_phone_area_code,home_phone_number,home_email_address,bus_city,bus_state_code,bus_country,bus_phone_area_code,bus_phone_number,bus_email_address,first_name,last_name,pref_name_sort,email_switch,saa_email_address,gsb_email_address,other_email_address,pref_phone_area_code,pref_phone_number,pref_phone_addr_type,memb_status_desc,short_degree_string,parent_degree_string,short_degree_string_spouse,parent_degree_string_spouse,primary_sort_name,plan_name,primary_ind,0
3,Dr. Jessica Jones,NaN,Chicago,IL,UAE,NaN,NaN,NaN,NaN,NaN,China,NaN,NaN,NaN,Jessica,Jones,NaN,NaN,jessicaj5803@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,MBA '81,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Dr. Jessica Martinez,1994.0,Seoul,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jessica,Martinez,NaN,NaN,jessicamartinez1707@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Dr. Jessica Johnson,NaN,Boston,MA,Japan,NaN,*,*,NaN,NaN,United States,NaN,NaN,NaN,Jessica,Johnson,NaN,NaN,jessicajohnson2888@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"'81, '87",NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Dr. Jessica Martinez,NaN,Dubai,NaN,USA,NaN,NaN,j.martinez3964@gmail.com,NaN,NaN,UAE,NaN,NaN,NaN,Jessica,Martinez,NaN,NaN,j.martinez9246@stanfordalumni.org,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,Dr. Jessica Smith,1993.0,Beijing,NaN,UAE,NaN,NaN,j.smith8032@stanfordalumni.org,NaN,NaN,USA,NaN,NaN,NaN,Jessica,Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MA '85, MBA '85, MA '96",NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Dr. Jessica Jones,NaN,Madrid,NaN,NaN,NaN,NaN,*,NaN,NaN,China,NaN,NaN,NaN,Jessica,Jones,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,Dr. Jessica Jones,NaN,Chicago,IL,United States,NaN,*,*,NaN,NaN,China,NaN,NaN,NaN,Jessica,Jones,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,Dr. Jessica Brown,NaN,Boston,MA,China,NaN,NaN,jessicab7734@stanfordalumni.org,NaN,NaN,*,NaN,NaN,NaN,Jessica,Brown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BS '97,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,Dr. Jessica Garcia,NaN,Madrid,NaN,China,NaN,*,NaN,NaN,NaN,USA,NaN,NaN,NaN,Jessica,Garcia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MA '81, MS '82",NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Dr. Oliver Davis,2008.0,NaN,NaN,Japan,NaN,NaN,*,NaN,NaN,*,NaN,NaN,NaN,Oliver,Davis,NaN,NaN,oliver.davis8327@stanfordalumni.org,NaN,NaN,NaN,NaN,NaN,NaN,BS '83,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Dr. Oliver Brown,1991.0,Shanghai,NaN,USA,NaN,NaN,NaN,NaN,NaN,UAE,NaN,NaN,oliverbrown8346@gmail.com,Oliver,Brown,NaN,NaN,oliverbrown2264@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"MS '84, MD '81, MBA '88",NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,Dr. Oliver Smith,2006.0,Seoul,NaN,United States,NaN,*,NaN,NaN,NaN,China,NaN,NaN,NaN,Oliver,Smith,NaN,NaN,oliver.smith7315@stanfordalumni.org,NaN,NaN,NaN,NaN,NaN,NaN,"MS '99, PhD '99",NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,Dr. Oliver Miller,NaN,*,*,*,NaN,*,*,NaN,NaN,*,NaN,NaN,o.miller5073@alumni.stanford.edu,Oliver,Miller,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,Dr. Oliver Davis,NaN,*,*,NaN,NaN,185 5256-552,*,NaN,NaN,*,NaN,NaN,o.davis1463@gmail.com,Oliver,Davis,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,BS '88,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,Dr. Oliver Rodriguez,NaN,Beijing,NaN,UAE,NaN,NaN,NaN,NaN,NaN,USA,NaN,NaN,NaN,Oliver,Rodriguez,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
#loading in the mail chimp
mailchimp = pd.read_csv('../data/MailChimp cleaned records headers.csv')

In [15]:
mailchimp

Empty DataFrame
Columns: [Email Address, First Name, Last Name, Board Member, Gender, Chapter, Reunion Year, Country, Degree, MEMBER_RATING, OPTIN_TIME, OPTIN_IP, CONFIRM_TIME, CONFIRM_IP, LATITUDE, LONGITUDE, GMTOFF, DSTOFF, TIMEZONE, CC, REGION, CLEAN_TIME, CLEAN_CAMPAIGN_TITLE, CLEAN_CAMPAIGN_ID, LEID, EUID, NOTES, TAGS]
Index: []

In [16]:
mailchimp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Email Address         0 non-null      object
 1   First Name            0 non-null      object
 2   Last Name             0 non-null      object
 3   Board Member          0 non-null      object
 4   Gender                0 non-null      object
 5   Chapter               0 non-null      object
 6   Reunion Year          0 non-null      object
 7   Country               0 non-null      object
 8   Degree                0 non-null      object
 9   MEMBER_RATING         0 non-null      object
 10  OPTIN_TIME            0 non-null      object
 11  OPTIN_IP              0 non-null      object
 12  CONFIRM_TIME          0 non-null      object
 13  CONFIRM_IP            0 non-null      object
 14  LATITUDE              0 non-null      object
 15  LONGITUDE             0 non-null      object
 16  GMTOFF                0 non-null      object
 17  DSTOFF                0 non-null      object
 18  TIMEZONE              0 non-null      object
 19  CC                    0 non-null      object
 20  REGION                0 non-null      object
 21  CLEAN_TIME            0 non-null      object
 22  CLEAN_CAMPAIGN_TITLE  0 non-null      object
 23  CLEAN_CAMPAIGN_ID     0 non-null      object
 24  LEID                  0 non-null      object
 25  EUID                  0 non-null      object
 26  NOTES                 0 non-null      object
 27  TAGS                  0 non-null      object
dtypes: object(28)
memory usage: 0.0+ bytes

In [17]:
mailchimp.columns = [x.replace(' ','_').lower() for x in mailchimp.columns]

In [18]:
mailchimp

Empty DataFrame
Columns: [email_address, first_name, last_name, board_member, gender, chapter, reunion_year, country, degree, member_rating, optin_time, optin_ip, confirm_time, confirm_ip, latitude, longitude, gmtoff, dstoff, timezone, cc, region, clean_time, clean_campaign_title, clean_campaign_id, leid, euid, notes, tags]
Index: []

In [19]:
num_ofDesiredRecords = 20

In [20]:
first_name = sample1.first_name.to_list()

In [21]:
mailchimp.first_name = first_name

In [22]:
mailchimp

,email_address,first_name,last_name,board_member,gender,chapter,reunion_year,country,degree,member_rating,optin_time,optin_ip,confirm_time,confirm_ip,latitude,longitude,gmtoff,dstoff,timezone,cc,region,clean_time,clean_campaign_title,clean_campaign_id,leid,euid,notes,tags
0,NaN,Jessica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Jessica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Jessica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Jessica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Jessica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Jessica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Jessica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,Jessica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,Jessica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
mailchimp_subset = pd.DataFrame(samples.first_name, columns = mailchimp.columns)

In [24]:
mailchimp_subset.last_name = samples.last_name

In [25]:
mailchimp_subset.fillna('*', inplace = True)

In [26]:
mailchimp_subset.email_address = samples.home_email_address

In [27]:
mailchimp_subset

,email_address,first_name,last_name,board_member,gender,chapter,reunion_year,country,degree,member_rating,optin_time,optin_ip,confirm_time,confirm_ip,latitude,longitude,gmtoff,dstoff,timezone,cc,region,clean_time,clean_campaign_title,clean_campaign_id,leid,euid,notes,tags
3,NaN,Jessica,Jones,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*
4,NaN,Jessica,Martinez,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*
15,*,Jessica,Johnson,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*
23,j.martinez3964@gmail.com,Jessica,Martinez,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*
57,j.smith8032@stanfordalumni.org,Jessica,Smith,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*
60,*,Jessica,Jones,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*
75,*,Jessica,Jones,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*
81,jessicab7734@stanfordalumni.org,Jessica,Brown,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*
84,NaN,Jessica,Garcia,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*
37,*,Oliver,Davis,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*
47,NaN,Oliver,Brown,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*
62,NaN,Oliver,Smith,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*
78,*,Oliver,Miller,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*
87,*,Oliver,Davis,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*
95,NaN,Oliver,Rodriguez,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*

In [38]:
mailchimp_subset.to_csv('../data/mailchimp.csv', index = False)

In [36]:
def mailchimp(filepath_csv_file):
    df = pd.read_csv(filepath_csv_file)
    return df

In [39]:
mailchimp('../data/mailchimp.csv')

,email_address,first_name,last_name,board_member,gender,chapter,reunion_year,country,degree,member_rating,optin_time,optin_ip,confirm_time,confirm_ip,latitude,longitude,gmtoff,dstoff,timezone,cc,region,clean_time,clean_campaign_title,clean_campaign_id,leid,euid,notes,tags
0,NaN,Jessica,Jones,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*
1,NaN,Jessica,Martinez,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*
2,*,Jessica,Johnson,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*
3,j.martinez3964@gmail.com,Jessica,Martinez,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*
4,j.smith8032@stanfordalumni.org,Jessica,Smith,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*
5,*,Jessica,Jones,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*
6,*,Jessica,Jones,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*
7,jessicab7734@stanfordalumni.org,Jessica,Brown,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*
8,NaN,Jessica,Garcia,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*
9,*,Oliver,Davis,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*
10,NaN,Oliver,Brown,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*
11,NaN,Oliver,Smith,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*
12,*,Oliver,Miller,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*
13,*,Oliver,Davis,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*
14,NaN,Oliver,Rodriguez,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*,*

In [31]:
def saadb_info():
    pass

In [ ]:
first_name = input('Name:')
surname = input('Surname:')