In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
mailchimp_data = pd.read_csv('../data/MailChimp cleaned records headers.csv')
pd.set_option('max_columns', None)
mailchimp_data

Empty DataFrame
Columns: [Email Address, First Name, Last Name, Board Member, Gender, Chapter, Reunion Year, Country, Degree, MEMBER_RATING, OPTIN_TIME, OPTIN_IP, CONFIRM_TIME, CONFIRM_IP, LATITUDE, LONGITUDE, GMTOFF, DSTOFF, TIMEZONE, CC, REGION, CLEAN_TIME, CLEAN_CAMPAIGN_TITLE, CLEAN_CAMPAIGN_ID, LEID, EUID, NOTES, TAGS]
Index: []

In [3]:
# mailchimp_data.drop(['Board Member', 'Gender', 'Reunion Year',\
#                      'Country', 'Degree', 'MEMBER_RATING',\
#                      'OPTIN_TIME', 'OPTIN_IP', 'CONFIRM_TIME',\
#                      'CONFIRM_IP', 'LATITUDE','LONGITUDE', 'GMTOFF',\
#                      'DSTOFF', 'TIMEZONE', 'CC', 'REGION', 'LEID',\
#                      'EUID', 'NOTES', 'TAGS'], axis =1, inplace=True)
# mailchimp_data

The mailchimp dataset comes from the salesforce dataset. This Cleaned dataset would only include emails that have bounced for one reason or another. It will not include any members who have opted out of the email service or those that are receiving emails without any complications. It is important to note that updating information within salesforce for those who have opted out may re-instantiate the email services so we are specifically working with cleaned/bounced records. Additionally, the datasets created for those who are Subscribed and Unsubscribed will have different column names than the Cleaned dataset here (ie Clean_Time, Clean_campaign_title, ect). Therefore any function created here may not work for those datasets.

In [4]:
saa_pride_data = pd.read_excel('../data/SAA Pride member reports headings.xlsx')
saa_pride_data.reset_index(inplace = True)
saa_pride_data

Empty DataFrame
Columns: [index, pref_mail_name, pref_class_year, home_city, home_state_code, home_country, home_phone_area_code, home_phone_number, home_email_address, bus_city, bus_state_code, bus_country, bus_phone_area_code, bus_phone_number, bus_email_address, first_name, last_name, pref_name_sort, email_switch, saa_email_address, gsb_email_address, other_email_address, pref_phone_area_code, pref_phone_number, pref_phone_addr_type, memb_status_desc, short_degree_string, parent_degree_string, short_degree_string_spouse, parent_degree_string_spouse, primary_sort_name, plan_name, primary_ind]
Index: []

In [5]:
# saa_pride_data.drop(['home_country', 'home_phone_area_code',\
#                      'home_phone_number', 'bus_city', 'bus_state_code',\
#                     'bus_country', 'bus_phone_area_code',\
#                      'bus_phone_number', 'bus_email_address',
#                     'pref_phone_area_code', 'pref_phone_addr_type',
#                     'memb_status_desc', 'parent_degree_string', \
#                     'short_degree_string_spouse', 
#                      'parent_degree_string_spouse', 'primary_sort_name',\
#                     'plan_name', 'primary_ind'], axis =1, inplace=True)
# saa_pride_data

The Stanford Alumni Association has it's own dataset that may or may not have additional or more recent data on some of the members. It may also have outdated data. Students are given an email but when they become alumni the email needs to be updated. Whether it is updated to specifically an 'alumni.stanford.edu' address or to another would be at the students discrepancy and isn't always updated.

In [6]:
combined_data = mailchimp_data.merge(saa_pride_data,\
                                     left_on =['First Name', 'Last Name'],\
                                     right_on=['first_name', 'last_name'],\
                                     how='outer')
combined_data

Empty DataFrame
Columns: [Email Address, First Name, Last Name, Board Member, Gender, Chapter, Reunion Year, Country, Degree, MEMBER_RATING, OPTIN_TIME, OPTIN_IP, CONFIRM_TIME, CONFIRM_IP, LATITUDE, LONGITUDE, GMTOFF, DSTOFF, TIMEZONE, CC, REGION, CLEAN_TIME, CLEAN_CAMPAIGN_TITLE, CLEAN_CAMPAIGN_ID, LEID, EUID, NOTES, TAGS, index, pref_mail_name, pref_class_year, home_city, home_state_code, home_country, home_phone_area_code, home_phone_number, home_email_address, bus_city, bus_state_code, bus_country, bus_phone_area_code, bus_phone_number, bus_email_address, first_name, last_name, pref_name_sort, email_switch, saa_email_address, gsb_email_address, other_email_address, pref_phone_area_code, pref_phone_number, pref_phone_addr_type, memb_status_desc, short_degree_string, parent_degree_string, short_degree_string_spouse, parent_degree_string_spouse, primary_sort_name, plan_name, primary_ind]
Index: []

In [7]:
saa_pride_data

Empty DataFrame
Columns: [index, pref_mail_name, pref_class_year, home_city, home_state_code, home_country, home_phone_area_code, home_phone_number, home_email_address, bus_city, bus_state_code, bus_country, bus_phone_area_code, bus_phone_number, bus_email_address, first_name, last_name, pref_name_sort, email_switch, saa_email_address, gsb_email_address, other_email_address, pref_phone_area_code, pref_phone_number, pref_phone_addr_type, memb_status_desc, short_degree_string, parent_degree_string, short_degree_string_spouse, parent_degree_string_spouse, primary_sort_name, plan_name, primary_ind]
Index: []

In [17]:
saa_mock = pd.read_excel('../data/SAA_FakeDB.xlsx')
saa_mock

,pref_mail_name,pref_class_year,home_city,home_state_code,home_country,home_phone_area_code,home_phone_number,home_email_address,bus_city,bus_state_code,bus_country,bus_phone_area_code,bus_phone_number,bus_email_address,first_name,last_name,pref_name_sort,email_switch,saa_email_address,gsb_email_address,other_email_address,pref_phone_area_code,pref_phone_number,pref_phone_addr_type,memb_status_desc,short_degree_string,parent_degree_string,short_degree_string_spouse,parent_degree_string_spouse,primary_sort_name,plan_name,primary_ind,0
0,NaN,NaN,London,NaN,NaN,NaN,NaN,*,NaN,NaN,Kuwait,NaN,NaN,NaN,Linda,Brown,NaN,NaN,lindab1567@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"PhD '94, BA '82",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Madrid,NaN,Japan,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,Mary,Rodriguez,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,"MA '85, BS '92",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Shanghai,NaN,USA,NaN,898 7073-217,NaN,NaN,NaN,UAE,NaN,NaN,NaN,Sarah,Rodriguez,NaN,NaN,sarah.rodriguez992@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"BS '88, BS '95, MA '85",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Chicago,IL,UAE,NaN,NaN,NaN,NaN,NaN,China,NaN,NaN,NaN,Jessica,Jones,NaN,NaN,jessicaj5803@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,MBA '81,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,1994.0,Seoul,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jessica,Martinez,NaN,NaN,jessicamartinez1707@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,NaN,Beijing,NaN,UAE,NaN,NaN,NaN,NaN,NaN,USA,NaN,NaN,NaN,Oliver,Rodriguez,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,NaN,Seoul,NaN,UAE,NaN,NaN,*,NaN,NaN,Kuwait,NaN,NaN,NaN,James,Brown,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,"BS '94, MS '92",NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,Beijing,NaN,UAE,NaN,NaN,elizabeth.martinez6250@gmail.com,NaN,NaN,Japan,NaN,NaN,NaN,Elizabeth,Martinez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"'85, MBA '87, '92",NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,NaN,2011.0,NaN,NaN,*,NaN,NaN,sbrown7443@stanfordalumni.org,NaN,NaN,Japan,NaN,NaN,NaN,Sarah,Brown,NaN,NaN,sarahb7790@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"PhD '84, MS '91",NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,Shanghai,NaN,*,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Elizabeth,Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MS '83,NaN,NaN,NaN,NaN,NaN,NaN,NaN

A random mock dataset was produced from the format of the SAA database for a proof of concept.

In [27]:
# Filter necessary columns
saa_mock2 = saa_mock.filter(['home_country', 'home_email_address',\
                 'bus_email_address', 'first_name', 'last_name', 'email_switch',\
                'saa_email_address', 'gsb_email_address', 'other_email_address','short_degree_string'])
saa_mock2

,home_country,home_email_address,bus_email_address,first_name,last_name,email_switch,saa_email_address,gsb_email_address,other_email_address,short_degree_string
0,NaN,*,NaN,Linda,Brown,NaN,lindab1567@alumni.stanford.edu,NaN,NaN,"PhD '94, BA '82"
1,Japan,*,NaN,Mary,Rodriguez,NaN,*,NaN,NaN,"MA '85, BS '92"
2,USA,NaN,NaN,Sarah,Rodriguez,NaN,sarah.rodriguez992@alumni.stanford.edu,NaN,NaN,"BS '88, BS '95, MA '85"
3,UAE,NaN,NaN,Jessica,Jones,NaN,jessicaj5803@alumni.stanford.edu,NaN,NaN,MBA '81
4,*,NaN,NaN,Jessica,Martinez,NaN,jessicamartinez1707@alumni.stanford.edu,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
95,UAE,NaN,NaN,Oliver,Rodriguez,NaN,*,NaN,NaN,NaN
96,UAE,*,NaN,James,Brown,NaN,*,NaN,NaN,"BS '94, MS '92"
97,UAE,elizabeth.martinez6250@gmail.com,NaN,Elizabeth,Martinez,NaN,NaN,NaN,NaN,"'85, MBA '87, '92"
98,*,sbrown7443@stanfordalumni.org,NaN,Sarah,Brown,NaN,sarahb7790@alumni.stanford.edu,NaN,NaN,"PhD '84, MS '91"
99,*,NaN,NaN,Elizabeth,Smith,NaN,NaN,NaN,NaN,MS '83

In [60]:
for degree in degrees_list:
    test_list=[]
    for degree_list in saa_mock2['short_degree_string'].str.split(' '):
        print (degree)
        print(degree_list)
        try:
            if (degree in degree_list):
                test_list.append(1)
            else:
                test_list.append(0)
        except:
            test_list.append(0)
    saa_mock2[degree] = test_list

PhD
['PhD', "'94,", 'BA', "'82"]
PhD
['MA', "'85,", 'BS', "'92"]
PhD
['BS', "'88,", 'BS', "'95,", 'MA', "'85"]
PhD
['MBA', "'81"]
PhD
nan
PhD
['JD', "'98,", 'JD', "'98,", 'BS', "'85"]
PhD
['MS', "'99,", 'JD', "'84"]
PhD
['BS', "'83,", 'MS', "'94,", 'PhD', "'82"]
PhD
["'80,", 'MD', "'98"]
PhD
["'96,", 'MA', "'99"]
PhD
['JD', "'87,", 'BS', "'91,", "'84"]
PhD
nan
PhD
nan
PhD
['JD', "'96"]
PhD
['MA', "'85,", 'BA', "'95,", 'BA', "'87"]
PhD
["'81,", "'87"]
PhD
['MD', "'92,", 'JD', "'82,", 'JD', "'94"]
PhD
nan
PhD
['BA', "'94,", 'JD', "'83,", 'MA', "'80"]
PhD
['MS', "'93,", "'97,", 'MA', "'80"]
PhD
["'96,", 'JD', "'86"]
PhD
['MS', "'91,", 'JD', "'87"]
PhD
['JD', "'97,", 'JD', "'91"]
PhD
nan
PhD
nan
PhD
['BA', "'80"]
PhD
["'89,", 'BA', "'96"]
PhD
nan
PhD
nan
PhD
['MBA', "'95"]
PhD
['PhD', "'83,", 'MD', "'99,", 'MA', "'86"]
PhD
['JD', "'86,", 'BA', "'86,", 'BS', "'83"]
PhD
nan
PhD
nan
PhD
["'94,", 'JD', "'84,", "'80"]
PhD
nan
PhD
['JD', "'98,", 'MBA', "'96,", 'MBA', "'98"]
PhD
['BS', "'83"]
PhD
['BS', "'96,", 'MD', "'93"]
PhD
['BA', "'92,", 'JD', "'89"]
PhD
['BS', "'84"]
PhD
['BA', "'97,", 'MD', "'97"]
PhD
['PhD', "'86"]
PhD
['MBA', "'84,", "'96"]
PhD
['BA', "'83,", 'JD', "'97"]
PhD
['PhD', "'97,", 'MS', "'93,", 'MA', "'96"]
PhD
nan
PhD
['MS', "'84,", 'MD', "'81,", 'MBA', "'88"]
PhD
['MBA', "'88,", 'PhD', "'81"]
PhD
['MS', "'97"]
PhD
['MA', "'94,", "'99"]
PhD
['BS', "'97"]
PhD
['PhD', "'96"]
PhD
nan
PhD
['BS', "'92,", "'90,", 'MS', "'81"]
PhD
['JD', "'86,", 'BA', "'87"]
PhD
['PhD', "'86"]
PhD
['MA', "'85,", 'MBA', "'85,", 'MA', "'96"]
PhD
['BS', "'81,", "'88,", 'MBA', "'88"]
PhD
['PhD', "'98"]
PhD
nan
PhD
['MBA', "'94,", 'MBA', "'81"]
PhD
['MS', "'99,", 'PhD', "'99"]
PhD
["'98,", 'MA', "'91,", "'90"]
PhD
["'85"]
PhD
nan
PhD
["'93"]
PhD
['BA', "'82,", 'MD', "'87,", 'BA', "'90"]
PhD
['MD', "'89,", "'99"]
PhD
['MS', "'97,", 'BA', "'83,", 'MD', "'94"]
PhD
['BA', "'81"]
PhD
['BS', "'83,", "'88,", 'MS', "'89"]
PhD
["'96,", 'JD', "'94"]
PhD
nan
PhD
['BA', "'86,", 'MA', "'96"]
PhD
nan
PhD
["'97"]
PhD
nan
PhD
nan
PhD
['BS', "'86"]
PhD
nan
PhD
['BS', "'97"]
PhD
nan
PhD
['JD', "'80"]
PhD
['MA', "'81,", 'MS', "'82"]
PhD
["'88"]
PhD
nan
PhD
['BS', "'88"]
PhD
['BS', "'94,", 'BA', "'93,", 'BS', "'80"]
PhD
nan
PhD
nan
PhD
nan
PhD
nan
PhD
nan
PhD
['MA', "'96,", 'PhD', "'89"]
PhD
nan
PhD
['BS', "'94,", 'MS', "'92"]
PhD
["'85,", 'MBA', "'87,", "'92"]
PhD
['PhD', "'84,", 'MS', "'91"]
PhD
['MS', "'83"]
BA
['PhD', "'94,", 'BA', "'82"]
BA
['MA', "'85,", 'BS', "'92"]
BA
['BS', "'88,", 'BS', "'95,", 'MA', "'85"]
BA
['MBA', "'81"]
BA
nan
BA
['JD', "'98,", 'JD', "'98,", 'BS', "'85"]
BA
['MS', "'99,", 'JD', "'84"]
BA
['BS', "'83,", 'MS', "'94,", 'PhD', "'82"]
BA
["'80,", 'MD', "'98"]
BA
["'96,", 'MA', "'99"]
BA
['JD', "'87,", 'BS', "'91,", "'84"]
BA
nan
BA
nan
BA
['JD', "'96"]
BA
['MA', "'85,", 'BA', "'95,", 'BA', "'87"]
BA
["'81,", "'87"]
BA
['MD', "'92,", 'JD', "'82,", 'JD', "'94"]
BA
nan
BA
['BA', "'94,", 'JD', "'83,", 'MA', "'80"]
BA
['MS', "'93,", "'97,", 'MA', "'80"]
BA
["'96,", 'JD', "'86"]
BA
['MS', "'91,", 'JD', "'87"]
BA
['JD', "'97,", 'JD', "'91"]
BA
nan
BA
nan
BA
['BA', "'80"]
BA
["'89,", 'BA', "'96"]
BA
nan
BA
nan
BA
['MBA', "'95"]
BA
['PhD', "'83,", 'MD', "'99,", 'MA', "'86"]
BA
['JD', "'86,", 'BA', "'86,", 'BS', "'83"]
BA
nan
BA
nan
BA
["'94,", 'JD', "'84,", "'80"]
BA
nan
BA
['JD', "'98,", 'MBA', "'96,", 'MBA', "'98"]
BA
['BS', "'83"]
BA
['BS', "'96,", 'MD', "'93"]
BA
['BA', "'92,", 'JD', "'89"]
BA
['BS', "'84"]
BA
['BA', "'97,", 'MD', "'97"]
BA
['PhD', "'86"]
BA
['MBA', "'84,", "'96"]
BA
['BA', "'83,", 'JD', "'97"]
BA
['PhD', "'97,", 'MS', "'93,", 'MA', "'96"]
BA
nan
BA
['MS', "'84,", 'MD', "'81,", 'MBA', "'88"]
BA
['MBA', "'88,", 'PhD', "'81"]
BA
['MS', "'97"]
BA
['MA', "'94,", "'99"]
BA
['BS', "'97"]
BA
['PhD', "'96"]
BA
nan
BA
['BS', "'92,", "'90,", 'MS', "'81"]
BA
['JD', "'86,", 'BA', "'87"]
BA
['PhD', "'86"]
BA
['MA', "'85,", 'MBA', "'85,", 'MA', "'96"]
BA
['BS', "'81,", "'88,", 'MBA', "'88"]
BA
['PhD', "'98"]
BA
nan
BA
['MBA', "'94,", 'MBA', "'81"]
BA
['MS', "'99,", 'PhD', "'99"]
BA
["'98,", 'MA', "'91,", "'90"]
BA
["'85"]
BA
nan
BA
["'93"]
BA
['BA', "'82,", 'MD', "'87,", 'BA', "'90"]
BA
['MD', "'89,", "'99"]
BA
['MS', "'97,", 'BA', "'83,", 'MD', "'94"]
BA
['BA', "'81"]
BA
['BS', "'83,", "'88,", 'MS', "'89"]
BA
["'96,", 'JD', "'94"]
BA
nan
BA
['BA', "'86,", 'MA', "'96"]
BA
nan
BA
["'97"]
BA
nan
BA
nan
BA
['BS', "'86"]
BA
nan
BA
['BS', "'97"]
BA
nan
BA
['JD', "'80"]
BA
['MA', "'81,", 'MS', "'82"]
BA
["'88"]
BA
nan
BA
['BS', "'88"]
BA
['BS', "'94,", 'BA', "'93,", 'BS', "'80"]
BA
nan
BA
nan
BA
nan
BA
nan
BA
nan
BA
['MA', "'96,", 'PhD', "'89"]
BA
nan
BA
['BS', "'94,", 'MS', "'92"]
BA
["'85,", 'MBA', "'87,", "'92"]
BA
['PhD', "'84,", 'MS', "'91"]
BA
['MS', "'83"]
MA
['PhD', "'94,", 'BA', "'82"]
MA
['MA', "'85,", 'BS', "'92"]
MA
['BS', "'88,", 'BS', "'95,", 'MA', "'85"]
MA
['MBA', "'81"]
MA
nan
MA
['JD', "'98,", 'JD', "'98,", 'BS', "'85"]
MA
['MS', "'99,", 'JD', "'84"]
MA
['BS', "'83,", 'MS', "'94,", 'PhD', "'82"]
MA
["'80,", 'MD', "'98"]
MA
["'96,", 'MA', "'99"]
MA
['JD', "'87,", 'BS', "'91,", "'84"]
MA
nan
MA
nan
MA
['JD', "'96"]
MA
['MA', "'85,", 'BA', "'95,", 'BA', "'87"]
MA
["'81,", "'87"]
MA
['MD', "'92,", 'JD', "'82,", 'JD', "'94"]
MA
nan
MA
['BA', "'94,", 'JD', "'83,", 'MA', "'80"]
MA
['MS', "'93,", "'97,", 'MA', "'80"]
MA
["'96,", 'JD', "'86"]
MA
['MS', "'91,", 'JD', "'87"]
MA
['JD', "'97,", 'JD', "'91"]
MA
nan
MA
nan
MA
['BA', "'80"]
MA
["'89,", 'BA', "'96"]
MA
nan
MA
nan
MA
['MBA', "'95"]
MA
['PhD', "'83,", 'MD', "'99,", 'MA', "'86"]
MA
['JD', "'86,", 'BA', "'86,", 'BS', "'83"]
MA
nan
MA
nan
MA
["'94,", 'JD', "'84,", "'80"]
MA
nan
MA
['JD', "'98,", 'MBA', "'96,", 'MBA', "'98"]
MA
['BS', "'83"]
MA
['BS', "'96,", 'MD', "'93"]
MA
['BA', "'92,", 'JD', "'89"]
MA
['BS', "'84"]
MA
['BA', "'97,", 'MD', "'97"]
MA
['PhD', "'86"]
MA
['MBA', "'84,", "'96"]
MA
['BA', "'83,", 'JD', "'97"]
MA
['PhD', "'97,", 'MS', "'93,", 'MA', "'96"]
MA
nan
MA
['MS', "'84,", 'MD', "'81,", 'MBA', "'88"]
MA
['MBA', "'88,", 'PhD', "'81"]
MA
['MS', "'97"]
MA
['MA', "'94,", "'99"]
MA
['BS', "'97"]
MA
['PhD', "'96"]
MA
nan
MA
['BS', "'92,", "'90,", 'MS', "'81"]
MA
['JD', "'86,", 'BA', "'87"]
MA
['PhD', "'86"]
MA
['MA', "'85,", 'MBA', "'85,", 'MA', "'96"]
MA
['BS', "'81,", "'88,", 'MBA', "'88"]
MA
['PhD', "'98"]
MA
nan
MA
['MBA', "'94,", 'MBA', "'81"]
MA
['MS', "'99,", 'PhD', "'99"]
MA
["'98,", 'MA', "'91,", "'90"]
MA
["'85"]
MA
nan
MA
["'93"]
MA
['BA', "'82,", 'MD', "'87,", 'BA', "'90"]
MA
['MD', "'89,", "'99"]
MA
['MS', "'97,", 'BA', "'83,", 'MD', "'94"]
MA
['BA', "'81"]
MA
['BS', "'83,", "'88,", 'MS', "'89"]
MA
["'96,", 'JD', "'94"]
MA
nan
MA
['BA', "'86,", 'MA', "'96"]
MA
nan
MA
["'97"]
MA
nan
MA
nan
MA
['BS', "'86"]
MA
nan
MA
['BS', "'97"]
MA
nan
MA
['JD', "'80"]
MA
['MA', "'81,", 'MS', "'82"]
MA
["'88"]
MA
nan
MA
['BS', "'88"]
MA
['BS', "'94,", 'BA', "'93,", 'BS', "'80"]
MA
nan
MA
nan
MA
nan
MA
nan
MA
nan
MA
['MA', "'96,", 'PhD', "'89"]
MA
nan
MA
['BS', "'94,", 'MS', "'92"]
MA
["'85,", 'MBA', "'87,", "'92"]
MA
['PhD', "'84,", 'MS', "'91"]
MA
['MS', "'83"]
BS
['PhD', "'94,", 'BA', "'82"]
BS
['MA', "'85,", 'BS', "'92"]
BS
['BS', "'88,", 'BS', "'95,", 'MA', "'85"]
BS
['MBA', "'81"]
BS
nan
BS
['JD', "'98,", 'JD', "'98,", 'BS', "'85"]
BS
['MS', "'99,", 'JD', "'84"]
BS
['BS', "'83,", 'MS', "'94,", 'PhD', "'82"]
BS
["'80,", 'MD', "'98"]
BS
["'96,", 'MA', "'99"]
BS
['JD', "'87,", 'BS', "'91,", "'84"]
BS
nan
BS
nan
BS
['JD', "'96"]
BS
['MA', "'85,", 'BA', "'95,", 'BA', "'87"]
BS
["'81,", "'87"]
BS
['MD', "'92,", 'JD', "'82,", 'JD', "'94"]
BS
nan
BS
['BA', "'94,", 'JD', "'83,", 'MA', "'80"]
BS
['MS', "'93,", "'97,", 'MA', "'80"]
BS
["'96,", 'JD', "'86"]
BS
['MS', "'91,", 'JD', "'87"]
BS
['JD', "'97,", 'JD', "'91"]
BS
nan
BS
nan
BS
['BA', "'80"]
BS
["'89,", 'BA', "'96"]
BS
nan
BS
nan
BS
['MBA', "'95"]
BS
['PhD', "'83,", 'MD', "'99,", 'MA', "'86"]
BS
['JD', "'86,", 'BA', "'86,", 'BS', "'83"]
BS
nan
BS
nan
BS
["'94,", 'JD', "'84,", "'80"]
BS
nan
BS
['JD', "'98,", 'MBA', "'96,", 'MBA', "'98"]
BS
['BS', "'83"]
BS
['BS', "'96,", 'MD', "'93"]
BS
['BA', "'92,", 'JD', "'89"]
BS
['BS', "'84"]
BS
['BA', "'97,", 'MD', "'97"]
BS
['PhD', "'86"]
BS
['MBA', "'84,", "'96"]
BS
['BA', "'83,", 'JD', "'97"]
BS
['PhD', "'97,", 'MS', "'93,", 'MA', "'96"]
BS
nan
BS
['MS', "'84,", 'MD', "'81,", 'MBA', "'88"]
BS
['MBA', "'88,", 'PhD', "'81"]
BS
['MS', "'97"]
BS
['MA', "'94,", "'99"]
BS
['BS', "'97"]
BS
['PhD', "'96"]
BS
nan
BS
['BS', "'92,", "'90,", 'MS', "'81"]
BS
['JD', "'86,", 'BA', "'87"]
BS
['PhD', "'86"]
BS
['MA', "'85,", 'MBA', "'85,", 'MA', "'96"]
BS
['BS', "'81,", "'88,", 'MBA', "'88"]
BS
['PhD', "'98"]
BS
nan
BS
['MBA', "'94,", 'MBA', "'81"]
BS
['MS', "'99,", 'PhD', "'99"]
BS
["'98,", 'MA', "'91,", "'90"]
BS
["'85"]
BS
nan
BS
["'93"]
BS
['BA', "'82,", 'MD', "'87,", 'BA', "'90"]
BS
['MD', "'89,", "'99"]
BS
['MS', "'97,", 'BA', "'83,", 'MD', "'94"]
BS
['BA', "'81"]
BS
['BS', "'83,", "'88,", 'MS', "'89"]
BS
["'96,", 'JD', "'94"]
BS
nan
BS
['BA', "'86,", 'MA', "'96"]
BS
nan
BS
["'97"]
BS
nan
BS
nan
BS
['BS', "'86"]
BS
nan
BS
['BS', "'97"]
BS
nan
BS
['JD', "'80"]
BS
['MA', "'81,", 'MS', "'82"]
BS
["'88"]
BS
nan
BS
['BS', "'88"]
BS
['BS', "'94,", 'BA', "'93,", 'BS', "'80"]
BS
nan
BS
nan
BS
nan
BS
nan
BS
nan
BS
['MA', "'96,", 'PhD', "'89"]
BS
nan
BS
['BS', "'94,", 'MS', "'92"]
BS
["'85,", 'MBA', "'87,", "'92"]
BS
['PhD', "'84,", 'MS', "'91"]
BS
['MS', "'83"]
MBA
['PhD', "'94,", 'BA', "'82"]
MBA
['MA', "'85,", 'BS', "'92"]
MBA
['BS', "'88,", 'BS', "'95,", 'MA', "'85"]
MBA
['MBA', "'81"]
MBA
nan
MBA
['JD', "'98,", 'JD', "'98,", 'BS', "'85"]
MBA
['MS', "'99,", 'JD', "'84"]
MBA
['BS', "'83,", 'MS', "'94,", 'PhD', "'82"]
MBA
["'80,", 'MD', "'98"]
MBA
["'96,", 'MA', "'99"]
MBA
['JD', "'87,", 'BS', "'91,", "'84"]
MBA
nan
MBA
nan
MBA
['JD', "'96"]
MBA
['MA', "'85,", 'BA', "'95,", 'BA', "'87"]
MBA
["'81,", "'87"]
MBA
['MD', "'92,", 'JD', "'82,", 'JD', "'94"]
MBA
nan
MBA
['BA', "'94,", 'JD', "'83,", 'MA', "'80"]
MBA
['MS', "'93,", "'97,", 'MA', "'80"]
MBA
["'96,", 'JD', "'86"]
MBA
['MS', "'91,", 'JD', "'87"]
MBA
['JD', "'97,", 'JD', "'91"]
MBA
nan
MBA
nan
MBA
['BA', "'80"]
MBA
["'89,", 'BA', "'96"]
MBA
nan
MBA
nan
MBA
['MBA', "'95"]
MBA
['PhD', "'83,", 'MD', "'99,", 'MA', "'86"]
MBA
['JD', "'86,", 'BA', "'86,", 'BS', "'83"]
MBA
nan
MBA
nan
MBA
["'94,", 'JD', "'84,", "'80"]
MBA
nan
MBA
['JD', "'98,", 'MBA', "'96,", 'MBA', "'98"]
MBA
['BS', "'83"]
MBA
['BS', "'96,", 'MD', "'93"]
MBA
['BA', "'92,", 'JD', "'89"]
MBA
['BS', "'84"]
MBA
['BA', "'97,", 'MD', "'97"]
MBA
['PhD', "'86"]
MBA
['MBA', "'84,", "'96"]
MBA
['BA', "'83,", 'JD', "'97"]
MBA
['PhD', "'97,", 'MS', "'93,", 'MA', "'96"]
MBA
nan
MBA
['MS', "'84,", 'MD', "'81,", 'MBA', "'88"]
MBA
['MBA', "'88,", 'PhD', "'81"]
MBA
['MS', "'97"]
MBA
['MA', "'94,", "'99"]
MBA
['BS', "'97"]
MBA
['PhD', "'96"]
MBA
nan
MBA
['BS', "'92,", "'90,", 'MS', "'81"]
MBA
['JD', "'86,", 'BA', "'87"]
MBA
['PhD', "'86"]
MBA
['MA', "'85,", 'MBA', "'85,", 'MA', "'96"]
MBA
['BS', "'81,", "'88,", 'MBA', "'88"]
MBA
['PhD', "'98"]
MBA
nan
MBA
['MBA', "'94,", 'MBA', "'81"]
MBA
['MS', "'99,", 'PhD', "'99"]
MBA
["'98,", 'MA', "'91,", "'90"]
MBA
["'85"]
MBA
nan
MBA
["'93"]
MBA
['BA', "'82,", 'MD', "'87,", 'BA', "'90"]
MBA
['MD', "'89,", "'99"]
MBA
['MS', "'97,", 'BA', "'83,", 'MD', "'94"]
MBA
['BA', "'81"]
MBA
['BS', "'83,", "'88,", 'MS', "'89"]
MBA
["'96,", 'JD', "'94"]
MBA
nan
MBA
['BA', "'86,", 'MA', "'96"]
MBA
nan
MBA
["'97"]
MBA
nan
MBA
nan
MBA
['BS', "'86"]
MBA
nan
MBA
['BS', "'97"]
MBA
nan
MBA
['JD', "'80"]
MBA
['MA', "'81,", 'MS', "'82"]
MBA
["'88"]
MBA
nan
MBA
['BS', "'88"]
MBA
['BS', "'94,", 'BA', "'93,", 'BS', "'80"]
MBA
nan
MBA
nan
MBA
nan
MBA
nan
MBA
nan
MBA
['MA', "'96,", 'PhD', "'89"]
MBA
nan
MBA
['BS', "'94,", 'MS', "'92"]
MBA
["'85,", 'MBA', "'87,", "'92"]
MBA
['PhD', "'84,", 'MS', "'91"]
MBA
['MS', "'83"]
JD
['PhD', "'94,", 'BA', "'82"]
JD
['MA', "'85,", 'BS', "'92"]
JD
['BS', "'88,", 'BS', "'95,", 'MA', "'85"]
JD
['MBA', "'81"]
JD
nan
JD
['JD', "'98,", 'JD', "'98,", 'BS', "'85"]
JD
['MS', "'99,", 'JD', "'84"]
JD
['BS', "'83,", 'MS', "'94,", 'PhD', "'82"]
JD
["'80,", 'MD', "'98"]
JD
["'96,", 'MA', "'99"]
JD
['JD', "'87,", 'BS', "'91,", "'84"]
JD
nan
JD
nan
JD
['JD', "'96"]
JD
['MA', "'85,", 'BA', "'95,", 'BA', "'87"]
JD
["'81,", "'87"]
JD
['MD', "'92,", 'JD', "'82,", 'JD', "'94"]
JD
nan
JD
['BA', "'94,", 'JD', "'83,", 'MA', "'80"]
JD
['MS', "'93,", "'97,", 'MA', "'80"]
JD
["'96,", 'JD', "'86"]
JD
['MS', "'91,", 'JD', "'87"]
JD
['JD', "'97,", 'JD', "'91"]
JD
nan
JD
nan
JD
['BA', "'80"]
JD
["'89,", 'BA', "'96"]
JD
nan
JD
nan
JD
['MBA', "'95"]
JD
['PhD', "'83,", 'MD', "'99,", 'MA', "'86"]
JD
['JD', "'86,", 'BA', "'86,", 'BS', "'83"]
JD
nan
JD
nan
JD
["'94,", 'JD', "'84,", "'80"]
JD
nan
JD
['JD', "'98,", 'MBA', "'96,", 'MBA', "'98"]
JD
['BS', "'83"]
JD
['BS', "'96,", 'MD', "'93"]
JD
['BA', "'92,", 'JD', "'89"]
JD
['BS', "'84"]
JD
['BA', "'97,", 'MD', "'97"]
JD
['PhD', "'86"]
JD
['MBA', "'84,", "'96"]
JD
['BA', "'83,", 'JD', "'97"]
JD
['PhD', "'97,", 'MS', "'93,", 'MA', "'96"]
JD
nan
JD
['MS', "'84,", 'MD', "'81,", 'MBA', "'88"]
JD
['MBA', "'88,", 'PhD', "'81"]
JD
['MS', "'97"]
JD
['MA', "'94,", "'99"]
JD
['BS', "'97"]
JD
['PhD', "'96"]
JD
nan
JD
['BS', "'92,", "'90,", 'MS', "'81"]
JD
['JD', "'86,", 'BA', "'87"]
JD
['PhD', "'86"]
JD
['MA', "'85,", 'MBA', "'85,", 'MA', "'96"]
JD
['BS', "'81,", "'88,", 'MBA', "'88"]
JD
['PhD', "'98"]
JD
nan
JD
['MBA', "'94,", 'MBA', "'81"]
JD
['MS', "'99,", 'PhD', "'99"]
JD
["'98,", 'MA', "'91,", "'90"]
JD
["'85"]
JD
nan
JD
["'93"]
JD
['BA', "'82,", 'MD', "'87,", 'BA', "'90"]
JD
['MD', "'89,", "'99"]
JD
['MS', "'97,", 'BA', "'83,", 'MD', "'94"]
JD
['BA', "'81"]
JD
['BS', "'83,", "'88,", 'MS', "'89"]
JD
["'96,", 'JD', "'94"]
JD
nan
JD
['BA', "'86,", 'MA', "'96"]
JD
nan
JD
["'97"]
JD
nan
JD
nan
JD
['BS', "'86"]
JD
nan
JD
['BS', "'97"]
JD
nan
JD
['JD', "'80"]
JD
['MA', "'81,", 'MS', "'82"]
JD
["'88"]
JD
nan
JD
['BS', "'88"]
JD
['BS', "'94,", 'BA', "'93,", 'BS', "'80"]
JD
nan
JD
nan
JD
nan
JD
nan
JD
nan
JD
['MA', "'96,", 'PhD', "'89"]
JD
nan
JD
['BS', "'94,", 'MS', "'92"]
JD
["'85,", 'MBA', "'87,", "'92"]
JD
['PhD', "'84,", 'MS', "'91"]
JD
['MS', "'83"]
MS
['PhD', "'94,", 'BA', "'82"]
MS
['MA', "'85,", 'BS', "'92"]
MS
['BS', "'88,", 'BS', "'95,", 'MA', "'85"]
MS
['MBA', "'81"]
MS
nan
MS
['JD', "'98,", 'JD', "'98,", 'BS', "'85"]
MS
['MS', "'99,", 'JD', "'84"]
MS
['BS', "'83,", 'MS', "'94,", 'PhD', "'82"]
MS
["'80,", 'MD', "'98"]
MS
["'96,", 'MA', "'99"]
MS
['JD', "'87,", 'BS', "'91,", "'84"]
MS
nan
MS
nan
MS
['JD', "'96"]
MS
['MA', "'85,", 'BA', "'95,", 'BA', "'87"]
MS
["'81,", "'87"]
MS
['MD', "'92,", 'JD', "'82,", 'JD', "'94"]
MS
nan
MS
['BA', "'94,", 'JD', "'83,", 'MA', "'80"]
MS
['MS', "'93,", "'97,", 'MA', "'80"]
MS
["'96,", 'JD', "'86"]
MS
['MS', "'91,", 'JD', "'87"]
MS
['JD', "'97,", 'JD', "'91"]
MS
nan
MS
nan
MS
['BA', "'80"]
MS
["'89,", 'BA', "'96"]
MS
nan
MS
nan
MS
['MBA', "'95"]
MS
['PhD', "'83,", 'MD', "'99,", 'MA', "'86"]
MS
['JD', "'86,", 'BA', "'86,", 'BS', "'83"]
MS
nan
MS
nan
MS
["'94,", 'JD', "'84,", "'80"]
MS
nan
MS
['JD', "'98,", 'MBA', "'96,", 'MBA', "'98"]
MS
['BS', "'83"]
MS
['BS', "'96,", 'MD', "'93"]
MS
['BA', "'92,", 'JD', "'89"]
MS
['BS', "'84"]
MS
['BA', "'97,", 'MD', "'97"]
MS
['PhD', "'86"]
MS
['MBA', "'84,", "'96"]
MS
['BA', "'83,", 'JD', "'97"]
MS
['PhD', "'97,", 'MS', "'93,", 'MA', "'96"]
MS
nan
MS
['MS', "'84,", 'MD', "'81,", 'MBA', "'88"]
MS
['MBA', "'88,", 'PhD', "'81"]
MS
['MS', "'97"]
MS
['MA', "'94,", "'99"]
MS
['BS', "'97"]
MS
['PhD', "'96"]
MS
nan
MS
['BS', "'92,", "'90,", 'MS', "'81"]
MS
['JD', "'86,", 'BA', "'87"]
MS
['PhD', "'86"]
MS
['MA', "'85,", 'MBA', "'85,", 'MA', "'96"]
MS
['BS', "'81,", "'88,", 'MBA', "'88"]
MS
['PhD', "'98"]
MS
nan
MS
['MBA', "'94,", 'MBA', "'81"]
MS
['MS', "'99,", 'PhD', "'99"]
MS
["'98,", 'MA', "'91,", "'90"]
MS
["'85"]
MS
nan
MS
["'93"]
MS
['BA', "'82,", 'MD', "'87,", 'BA', "'90"]
MS
['MD', "'89,", "'99"]
MS
['MS', "'97,", 'BA', "'83,", 'MD', "'94"]
MS
['BA', "'81"]
MS
['BS', "'83,", "'88,", 'MS', "'89"]
MS
["'96,", 'JD', "'94"]
MS
nan
MS
['BA', "'86,", 'MA', "'96"]
MS
nan
MS
["'97"]
MS
nan
MS
nan
MS
['BS', "'86"]
MS
nan
MS
['BS', "'97"]
MS
nan
MS
['JD', "'80"]
MS
['MA', "'81,", 'MS', "'82"]
MS
["'88"]
MS
nan
MS
['BS', "'88"]
MS
['BS', "'94,", 'BA', "'93,", 'BS', "'80"]
MS
nan
MS
nan
MS
nan
MS
nan
MS
nan
MS
['MA', "'96,", 'PhD', "'89"]
MS
nan
MS
['BS', "'94,", 'MS', "'92"]
MS
["'85,", 'MBA', "'87,", "'92"]
MS
['PhD', "'84,", 'MS', "'91"]
MS
['MS', "'83"]
MD
['PhD', "'94,", 'BA', "'82"]
MD
['MA', "'85,", 'BS', "'92"]
MD
['BS', "'88,", 'BS', "'95,", 'MA', "'85"]
MD
['MBA', "'81"]
MD
nan
MD
['JD', "'98,", 'JD', "'98,", 'BS', "'85"]
MD
['MS', "'99,", 'JD', "'84"]
MD
['BS', "'83,", 'MS', "'94,", 'PhD', "'82"]
MD
["'80,", 'MD', "'98"]
MD
["'96,", 'MA', "'99"]
MD
['JD', "'87,", 'BS', "'91,", "'84"]
MD
nan
MD
nan
MD
['JD', "'96"]
MD
['MA', "'85,", 'BA', "'95,", 'BA', "'87"]
MD
["'81,", "'87"]
MD
['MD', "'92,", 'JD', "'82,", 'JD', "'94"]
MD
nan
MD
['BA', "'94,", 'JD', "'83,", 'MA', "'80"]
MD
['MS', "'93,", "'97,", 'MA', "'80"]
MD
["'96,", 'JD', "'86"]
MD
['MS', "'91,", 'JD', "'87"]
MD
['JD', "'97,", 'JD', "'91"]
MD
nan
MD
nan
MD
['BA', "'80"]
MD
["'89,", 'BA', "'96"]
MD
nan
MD
nan
MD
['MBA', "'95"]
MD
['PhD', "'83,", 'MD', "'99,", 'MA', "'86"]
MD
['JD', "'86,", 'BA', "'86,", 'BS', "'83"]
MD
nan
MD
nan
MD
["'94,", 'JD', "'84,", "'80"]
MD
nan
MD
['JD', "'98,", 'MBA', "'96,", 'MBA', "'98"]
MD
['BS', "'83"]
MD
['BS', "'96,", 'MD', "'93"]
MD
['BA', "'92,", 'JD', "'89"]
MD
['BS', "'84"]
MD
['BA', "'97,", 'MD', "'97"]
MD
['PhD', "'86"]
MD
['MBA', "'84,", "'96"]
MD
['BA', "'83,", 'JD', "'97"]
MD
['PhD', "'97,", 'MS', "'93,", 'MA', "'96"]
MD
nan
MD
['MS', "'84,", 'MD', "'81,", 'MBA', "'88"]
MD
['MBA', "'88,", 'PhD', "'81"]
MD
['MS', "'97"]
MD
['MA', "'94,", "'99"]
MD
['BS', "'97"]
MD
['PhD', "'96"]
MD
nan
MD
['BS', "'92,", "'90,", 'MS', "'81"]
MD
['JD', "'86,", 'BA', "'87"]
MD
['PhD', "'86"]
MD
['MA', "'85,", 'MBA', "'85,", 'MA', "'96"]
MD
['BS', "'81,", "'88,", 'MBA', "'88"]
MD
['PhD', "'98"]
MD
nan
MD
['MBA', "'94,", 'MBA', "'81"]
MD
['MS', "'99,", 'PhD', "'99"]
MD
["'98,", 'MA', "'91,", "'90"]
MD
["'85"]
MD
nan
MD
["'93"]
MD
['BA', "'82,", 'MD', "'87,", 'BA', "'90"]
MD
['MD', "'89,", "'99"]
MD
['MS', "'97,", 'BA', "'83,", 'MD', "'94"]
MD
['BA', "'81"]
MD
['BS', "'83,", "'88,", 'MS', "'89"]
MD
["'96,", 'JD', "'94"]
MD
nan
MD
['BA', "'86,", 'MA', "'96"]
MD
nan
MD
["'97"]
MD
nan
MD
nan
MD
['BS', "'86"]
MD
nan
MD
['BS', "'97"]
MD
nan
MD
['JD', "'80"]
MD
['MA', "'81,", 'MS', "'82"]
MD
["'88"]
MD
nan
MD
['BS', "'88"]
MD
['BS', "'94,", 'BA', "'93,", 'BS', "'80"]
MD
nan
MD
nan
MD
nan
MD
nan
MD
nan
MD
['MA', "'96,", 'PhD', "'89"]
MD
nan
MD
['BS', "'94,", 'MS', "'92"]
MD
["'85,", 'MBA', "'87,", "'92"]
MD
['PhD', "'84,", 'MS', "'91"]
MD
['MS', "'83"]

In [61]:
saa_mock2

,home_country,home_email_address,bus_email_address,first_name,last_name,email_switch,saa_email_address,gsb_email_address,other_email_address,short_degree_string,PhD,BA,MA,BS,MBA,JD,MS,MD
0,NaN,*,NaN,Linda,Brown,NaN,lindab1567@alumni.stanford.edu,NaN,NaN,"PhD '94, BA '82",1,1,0,0,0,0,0,0
1,Japan,*,NaN,Mary,Rodriguez,NaN,*,NaN,NaN,"MA '85, BS '92",0,0,1,1,0,0,0,0
2,USA,NaN,NaN,Sarah,Rodriguez,NaN,sarah.rodriguez992@alumni.stanford.edu,NaN,NaN,"BS '88, BS '95, MA '85",0,0,1,1,0,0,0,0
3,UAE,NaN,NaN,Jessica,Jones,NaN,jessicaj5803@alumni.stanford.edu,NaN,NaN,MBA '81,0,0,0,0,1,0,0,0
4,*,NaN,NaN,Jessica,Martinez,NaN,jessicamartinez1707@alumni.stanford.edu,NaN,NaN,NaN,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,UAE,NaN,NaN,Oliver,Rodriguez,NaN,*,NaN,NaN,NaN,0,0,0,0,0,0,0,0
96,UAE,*,NaN,James,Brown,NaN,*,NaN,NaN,"BS '94, MS '92",0,0,0,1,0,0,1,0
97,UAE,elizabeth.martinez6250@gmail.com,NaN,Elizabeth,Martinez,NaN,NaN,NaN,NaN,"'85, MBA '87, '92",0,0,0,0,1,0,0,0
98,*,sbrown7443@stanfordalumni.org,NaN,Sarah,Brown,NaN,sarahb7790@alumni.stanford.edu,NaN,NaN,"PhD '84, MS '91",1,0,0,0,0,0,1,0
99,*,NaN,NaN,Elizabeth,Smith,NaN,NaN,NaN,NaN,MS '83,0,0,0,0,0,0,1,0

In [92]:
def ohe_degrees(SAA_df, mc_df):
    
    #Get all degrees that exist in database
    saa_degrees = pd.DataFrame(SAA_df['short_degree_string'].str.split(' ').explode()).dropna()
    degrees_list = list(saa_degrees['short_degree_string'][~saa_degrees['short_degree_string'].str.contains("'")].unique())
    # degrees_list.remove(np.nan)

    for degree in degrees_list:
        #OHE SAA database
        saa_list=[]
        for degree_list in SAA_df['short_degree_string'].str.split(' '):
            try:
                if (degree in degree_list):
                    saa_list.append(1)
                else:
                    saa_list.append(0)
            except:
                saa_list.append(0)
        SAA_df[degree] = saa_list
        
        #OHE MC database
        mc_list=[]
        for degree_list in mc_df['Degree'].str.split(';'):
            try:
                if (degree in degree_list):
                    mc_list.append(1)
                else:
                    mc_list.append(0)
            except:
                mc_list.append(0)
        mc_df[degree] = mc_list
        
        SAA_df.drop('short_degree_string', axis=1, inplace=True)
        mc_df.drop('Degree',axis=1, inplace=True)
        
        return mc_df, SAA_df

In [93]:
MC_ohe, SAA_ohe = ohe_degrees(saa_mock2,mailchimp_mock2)

SAA_ohe

,home_country,home_email_address,bus_email_address,first_name,last_name,email_switch,saa_email_address,gsb_email_address,other_email_address,PhD,BA,MA,BS,MBA,JD,MS,MD
0,NaN,*,NaN,Linda,Brown,NaN,lindab1567@alumni.stanford.edu,NaN,NaN,1,1,0,0,0,0,0,0
1,Japan,*,NaN,Mary,Rodriguez,NaN,*,NaN,NaN,0,0,1,1,0,0,0,0
2,USA,NaN,NaN,Sarah,Rodriguez,NaN,sarah.rodriguez992@alumni.stanford.edu,NaN,NaN,0,0,1,1,0,0,0,0
3,UAE,NaN,NaN,Jessica,Jones,NaN,jessicaj5803@alumni.stanford.edu,NaN,NaN,0,0,0,0,1,0,0,0
4,*,NaN,NaN,Jessica,Martinez,NaN,jessicamartinez1707@alumni.stanford.edu,NaN,NaN,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,UAE,NaN,NaN,Oliver,Rodriguez,NaN,*,NaN,NaN,0,0,0,0,0,0,0,0
96,UAE,*,NaN,James,Brown,NaN,*,NaN,NaN,0,0,0,1,0,0,1,0
97,UAE,elizabeth.martinez6250@gmail.com,NaN,Elizabeth,Martinez,NaN,NaN,NaN,NaN,0,0,0,0,1,0,0,0
98,*,sbrown7443@stanfordalumni.org,NaN,Sarah,Brown,NaN,sarahb7790@alumni.stanford.edu,NaN,NaN,1,0,0,0,0,0,1,0
99,*,NaN,NaN,Elizabeth,Smith,NaN,NaN,NaN,NaN,0,0,0,0,0,0,1,0

In [94]:
MC_ohe

,Email Address,First Name,Last Name,Country,PhD,BA,MA,BS,MBA,JD,MS,MD
0,brodriguez369@gmail.com,Barbara,Rodriguez,USA,0,0,0,0,0,0,0,0
1,liamjones7027@stanfordalumni.org,Liam,Jones,USA,0,0,0,0,0,0,0,0
2,lindam7966@alumni.stanford.edu,Liam,Rodriguez,USA,0,0,1,0,0,0,0,1
3,liam.garcia7988@stanfordalumni.org,Liam,Garcia,USA,0,0,0,0,0,0,1,0
4,m.davis4650@gmail.com,Mary,Johnson,USA,0,0,0,0,0,0,0,0

In [10]:
# Need to split short_degree_string for OneHotEncoding
# saa_mock2.short_degree_string[0]

In [11]:
# saa_mock2['short_degree_string'] = saa_mock2['short_degree_string'].str.split()

In [12]:
# unique_degree_list = []
# for degrees in saa_mock2['short_degree_string'].dropna().tolist():
#     for degree in degrees:
#         unique_degree_list.append(degree)
# unique_degree_list =list(set(unique_degree_list))
# unique_degree_list

In [63]:
mailchimp_mock = pd.read_csv('../data/Fake_MailChimp_cleaned.csv')
mailchimp_mock

,Unnamed: 0,Email Address,First Name,Last Name,Board Member,Gender,Chapter,Reunion Year,Country,Degree,MEMBER_RATING,OPTIN_TIME,OPTIN_IP,CONFIRM_TIME,CONFIRM_IP,LATITUDE,LONGITUDE,GMTOFF,DSTOFF,TIMEZONE,CC,REGION,CLEAN_TIME,CLEAN_CAMPAIGN_TITLE,CLEAN_CAMPAIGN_ID,LEID,EUID,NOTES,TAGS,0
0,0,brodriguez369@gmail.com,Barbara,Rodriguez,True,NaN,New England,NaN,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,liamjones7027@stanfordalumni.org,Liam,Jones,False,M,Bay Area,NaN,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,lindam7966@alumni.stanford.edu,Liam,Rodriguez,True,NaN,Bay Area,NaN,USA,MD;MA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,liam.garcia7988@stanfordalumni.org,Liam,Garcia,True,F,New England,NaN,USA,MS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,m.davis4650@gmail.com,Mary,Johnson,True,NaN,Texas,NaN,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
# Filter necessary columns
mailchimp_mock2 = mailchimp_mock.filter(['Email Address', 'First Name', 'Last Name',\
                    'Country', 'Degree'])
mailchimp_mock2

                        Email Address First Name  Last Name Country Degree
0             brodriguez369@gmail.com    Barbara  Rodriguez     USA    NaN
1    liamjones7027@stanfordalumni.org       Liam      Jones     USA    NaN
2      lindam7966@alumni.stanford.edu       Liam  Rodriguez     USA  MD;MA
3  liam.garcia7988@stanfordalumni.org       Liam     Garcia     USA     MS
4               m.davis4650@gmail.com       Mary    Johnson     USA    NaN

In [69]:
mailchimp_degrees = pd.DataFrame(mailchimp_mock2['Degree'].str.split(";").explode()).dropna()
degrees_list_mc = list(mailchimp_degrees['Degree'][~mailchimp_degrees['Degree'].str.contains("'")].unique())
degrees_list_mc

['MD', 'MA', 'MS']

In [73]:
for degree in degrees_list:
    test_list=[]
    for degree_list in mailchimp_mock2['Degree'].str.split(';'):
        try:
            if (degree in degree_list):
                test_list.append(1)
            else:
                test_list.append(0)
        except:
            test_list.append(0)
    mailchimp_mock2[degree] = test_list

In [74]:
mailchimp_mock2

,Email Address,First Name,Last Name,Country,Degree,PhD,BA,MA,BS,MBA,JD,MS,MD
0,brodriguez369@gmail.com,Barbara,Rodriguez,USA,NaN,0,0,0,0,0,0,0,0
1,liamjones7027@stanfordalumni.org,Liam,Jones,USA,NaN,0,0,0,0,0,0,0,0
2,lindam7966@alumni.stanford.edu,Liam,Rodriguez,USA,MD;MA,0,0,1,0,0,0,0,1
3,liam.garcia7988@stanfordalumni.org,Liam,Garcia,USA,MS,0,0,0,0,0,0,1,0
4,m.davis4650@gmail.com,Mary,Johnson,USA,NaN,0,0,0,0,0,0,0,0

### Similarity Function Building (Cosine)

In [15]:
# # First we take a row we are trying to identify.
# target = mailchimp_mock2.iloc[0]
# target

In [16]:
# target_dict = {'first_name': target[1], 'last_name': target[2],\
#                'saa_email_address': target[0],
#                'home_email_address': target[0],
#                'bus_email_address': target[0],
#                'email_switch': target[0],
#                'gsb_email_address': target[0],
#                'other_email_address': target[0],
#                'home_country': target[3]}
# saa_mock2 = saa_mock2.append(target_dict, ignore_index = True)
# saa_mock2

In [17]:
# We then subset the SAA data by the first name
saa_mock2.fillna(value='Not Available', inplace=True)
sub_saa = saa_mock2[saa_mock2['first_name'] == target[1]].astype(str)
sub_saa

NameError: name 'target' is not defined

In [ ]:
# Now we one hot encode the subset
sub_saa.fillna(value='Not Available', inplace=True)

In [19]:
def ohe(df, column):    
    for col in column:
        train = df[[col]]
        ohe = OneHotEncoder(sparse=False, handle_unknown="error")
        ohe.fit(train)
        encoded_train = ohe.transform(train)
        col_names = [f"{col}_{f}" for f in ohe.get_feature_names()]
        encoded_train = pd.DataFrame(encoded_train,
                                     columns=col_names, index=df.index)
        df = pd.concat([df, encoded_train], axis=1)
        
    return df

In [ ]:
# cols = list(sub_saa.columns.values)
# cols

In [ ]:
# new_df = ohe(sub_saa, cols)

In [ ]:
# new_df = new_df.drop(cols, axis=1)

In [ ]:
# new_df

In [ ]:
# y = np.array(new_df.iloc[-1])
# y = y.reshape(1, -1)
# y

In [ ]:
# cos_sim = cosine_similarity(new_df, y)

In [ ]:
# cos_sim = pd.DataFrame(data=cos_sim, index=new_df.index).sort_values(by=0, ascending=False) #[1:]
# cos_sim

In [ ]:
# results = list(cos_sim.index)
# results

In [ ]:
# results_df = saa_mock2.loc[results]
# # Reset index for better print out
# results_df.reset_index(inplace=True)
# results_df

Put into a loop.

In [ ]:
for x in range(len(mailchimp_mock2)):
    target = mailchimp_mock2.iloc[x]
    print(target[1])

In [ ]:
mailchimp_mock2

In [ ]:
saa_mock2

In [ ]:
df

In [ ]:
for i in range(0,mailchimp_mock2.shape[1]):
    print(i)

In [26]:
results_dict = {}
for i in range(0,mailchimp_mock2.shape[1]):
    target = mailchimp_mock2.iloc[i]
    target_dict = {'first_name': [target[1]], 'last_name': [target[2]],\
               'saa_email_address': [target[0]],
               'home_email_address': [target[0]],
               'bus_email_address': [target[0]],
               'email_switch': [target[0]],
               'gsb_email_address': [target[0]],
               'other_email_address': [target[0]],
               'home_country': [target[3]]}
    df = pd.DataFrame.from_dict(target_dict)
    subset_saa = saa_mock2[saa_mock2['first_name'] == df.loc[0,'first_name']] 
    #the 0 is calling for row, so it does not return a series
    subset_saa_new = pd.concat([df,subset_saa], axis = 0)
    ohe_df = ohe(subset_saa_new, subset_saa_new.columns)
    ohe_df.drop(columns = subset_saa_new.columns, inplace = True)
    y = np.array(ohe_df.iloc[0])
    y = y.reshape(1,-1)
    cos_sim = cosine_similarity(ohe_df, y)
    cos_sim = pd.DataFrame(data=cos_sim, index=ohe_df.index).sort_values(by=0, ascending=False) #[1:]
    results = list(cos_sim.index)
    results_df = subset_saa_new.loc[results]
    results_dict[i] = results_df

In [27]:
results_dict[2]

,first_name,last_name,saa_email_address,home_email_address,bus_email_address,email_switch,gsb_email_address,other_email_address,home_country
0,Liam,Rodriguez,lindam7966@alumni.stanford.edu,lindam7966@alumni.stanford.edu,lindam7966@alumni.stanford.edu,lindam7966@alumni.stanford.edu,lindam7966@alumni.stanford.edu,lindam7966@alumni.stanford.edu,USA
30,Liam,Rodriguez,liam.rodriguez8596@stanfordalumni.org,Not Available,liamrodriguez3500@stanfordalumni.org,Not Available,Not Available,Not Available,China
86,Liam,Rodriguez,*,liam.rodriguez6028@stanfordalumni.org,Not Available,Not Available,Not Available,Not Available,*
92,Liam,Garcia,liam.garcia848@alumni.stanford.edu,liamgarcia268@alumni.stanford.edu,Not Available,Not Available,Not Available,Not Available,USA
34,Liam,Jones,Not Available,l.jones1950@alumni.stanford.edu,Not Available,Not Available,Not Available,Not Available,Not Available
82,Liam,Jones,liamj506@stanfordalumni.org,*,Not Available,Not Available,Not Available,Not Available,China

In [ ]:
results_df

In [ ]:
y = np.array(ohe_df.iloc[0])
y = y.reshape(1, -1)
y

In [ ]:
cos_sim = cosine_similarity(ohe_df, y)

In [ ]:
cos_sim = pd.DataFrame(data=cos_sim, index=ohe_df.index).sort_values(by=0, ascending=False) #[1:]
cos_sim

In [ ]:
results = list(cos_sim.index)
results

In [ ]:
subset_saa_new

In [ ]:
df

In [ ]:
#adding all the mailchimp records into the SAA
for x in range(len(mailchimp_mock2)):
    #locate target in mailchimp records
    target = mailchimp_mock2.iloc[x]
    #create a row for target in SAA
    target_dict = {'first_name': target[1], 'last_name': target[2],\
               'saa_email_address': target[0],
               'home_email_address': target[0],
               'bus_email_address': target[0],
               'email_switch': target[0],
               'gsb_email_address': target[0],
               'other_email_address': target[0],
               'home_country': target[3]}
    #append it saa and saving it as a new variable
    saa_records = saa_mock2.append(target_dict, ignore_index = True)
    print(pd.DataFrame(saa_records, columns = saa_mock2.columns))

## Scratchwork

In [ ]:
if str(combined_data['email_switch']).find('(pref)'):
    combined_data['Email Address'] = combined_data['email_switch']

In [ ]:
if '(pref)' not in combined_data['email_switch']: 
    pass
else:
    combined_data['Email Address'] = combined_data['email_switch']

In [ ]:
name_first = input('First Name: ')
name_last = input('Last Name: ')
pref_email = input('Preferred Email Address: ')

In [ ]:
def create_df(name1, name2, email):
    new_df = pd.DataFrame(columns=['First_Name', 'Last_Name', 'Preferred_Email'])
    df2 = {'First_Name': name1, 'Last_Name': name2, 'Preferred_Email': email}
    new_df = new_df.append(df2, ignore_index = True)
    return new_df

In [ ]:
df = create_df(name_first, name_last, pref_email)
df

In [ ]:
df2 = {'First Name': 'Harry', 'Last Name': 'Potter', 'Email Address': 'email@email.com'}
combined_data = combined_data.append(df2, ignore_index = True)
combined_data

In [ ]:
df2 = {'First Name': 'Walter', 'Last Name': 'White', 'Email Address': 'science@stanford.edu'}
combined_data = combined_data.append(df2, ignore_index = True)
combined_data

In [ ]:
def update_df(df, name1, name2, email):
    df.at[df.set_index('Email Address').loc[email]['First Name']] = name1
    df.at[df.set_index('First Name').loc[name1]['Preferred Email Address']] = email
    df.at[df.set_index('First Name').loc[name1]['Last Name']] = name2
    return df

In [ ]:
# sub_set = saa_mock.sample(frac=.25, random_state=42)
# sub_set

## Next Steps

Next step would be to take a proactive approach to mitigate the number of emails that bounce in the future. I would suggest using the salesforce dataset to check for recent grads to reach out before they lose their student emails and ask for updated contact information and their subsequent plans after graduation. It would be easier to update records proactively when we still have accurate contact information. For subsequent plans after graduation, this would be to keeping location information of members to more accurately send regional events and functions.