In [21]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [2]:
mailchimp_data = pd.read_csv('./MailChimp_cleaned_records_headers.csv')
pd.set_option('max_columns', None)
mailchimp_data

Empty DataFrame
Columns: [Email Address, First Name, Last Name, Board Member, Gender, Chapter, Reunion Year, Country, Degree, MEMBER_RATING, OPTIN_TIME, OPTIN_IP, CONFIRM_TIME, CONFIRM_IP, LATITUDE, LONGITUDE, GMTOFF, DSTOFF, TIMEZONE, CC, REGION, CLEAN_TIME, CLEAN_CAMPAIGN_TITLE, CLEAN_CAMPAIGN_ID, LEID, EUID, NOTES, TAGS]
Index: []

In [3]:
# mailchimp_data.drop(['Board Member', 'Gender', 'Reunion Year',\
#                      'Country', 'Degree', 'MEMBER_RATING',\
#                      'OPTIN_TIME', 'OPTIN_IP', 'CONFIRM_TIME',\
#                      'CONFIRM_IP', 'LATITUDE','LONGITUDE', 'GMTOFF',\
#                      'DSTOFF', 'TIMEZONE', 'CC', 'REGION', 'LEID',\
#                      'EUID', 'NOTES', 'TAGS'], axis =1, inplace=True)
# mailchimp_data

The mailchimp dataset comes from the salesforce dataset. This Cleaned dataset would only include emails that have bounced for one reason or another. It will not include any members who have opted out of the email service or those that are receiving emails without any complications. It is important to note that updating information within salesforce for those who have opted out may re-instantiate the email services so we are specifically working with cleaned/bounced records. Additionally, the datasets created for those who are Subscribed and Unsubscribed will have different column names than the Cleaned dataset here (ie Clean_Time, Clean_campaign_title, ect). Therefore any function created here may not work for those datasets.

In [4]:
saa_pride_data = pd.read_excel('./SAA Pride member reports headings.xlsx')
saa_pride_data.reset_index(inplace = True)
saa_pride_data

Empty DataFrame
Columns: [index, pref_mail_name, pref_class_year, home_city, home_state_code, home_country, home_phone_area_code, home_phone_number, home_email_address, bus_city, bus_state_code, bus_country, bus_phone_area_code, bus_phone_number, bus_email_address, first_name, last_name, pref_name_sort, email_switch, saa_email_address, gsb_email_address, other_email_address, pref_phone_area_code, pref_phone_number, pref_phone_addr_type, memb_status_desc, short_degree_string, parent_degree_string, short_degree_string_spouse, parent_degree_string_spouse, primary_sort_name, plan_name, primary_ind]
Index: []

In [5]:
# saa_pride_data.drop(['home_country', 'home_phone_area_code',\
#                      'home_phone_number', 'bus_city', 'bus_state_code',\
#                     'bus_country', 'bus_phone_area_code',\
#                      'bus_phone_number', 'bus_email_address',
#                     'pref_phone_area_code', 'pref_phone_addr_type',
#                     'memb_status_desc', 'parent_degree_string', \
#                     'short_degree_string_spouse', 
#                      'parent_degree_string_spouse', 'primary_sort_name',\
#                     'plan_name', 'primary_ind'], axis =1, inplace=True)
# saa_pride_data

The Stanford Alumni Association has it's own dataset that may or may not have additional or more recent data on some of the members. It may also have outdated data. Students are given an email but when they become alumni the email needs to be updated. Whether it is updated to specifically an 'alumni.stanford.edu' address or to another would be at the students discrepancy and isn't always updated.

In [6]:
combined_data = mailchimp_data.merge(saa_pride_data,\
                                     left_on =['First Name', 'Last Name'],\
                                     right_on=['first_name', 'last_name'],\
                                     how='outer')
combined_data

Empty DataFrame
Columns: [Email Address, First Name, Last Name, Board Member, Gender, Chapter, Reunion Year, Country, Degree, MEMBER_RATING, OPTIN_TIME, OPTIN_IP, CONFIRM_TIME, CONFIRM_IP, LATITUDE, LONGITUDE, GMTOFF, DSTOFF, TIMEZONE, CC, REGION, CLEAN_TIME, CLEAN_CAMPAIGN_TITLE, CLEAN_CAMPAIGN_ID, LEID, EUID, NOTES, TAGS, index, pref_mail_name, pref_class_year, home_city, home_state_code, home_country, home_phone_area_code, home_phone_number, home_email_address, bus_city, bus_state_code, bus_country, bus_phone_area_code, bus_phone_number, bus_email_address, first_name, last_name, pref_name_sort, email_switch, saa_email_address, gsb_email_address, other_email_address, pref_phone_area_code, pref_phone_number, pref_phone_addr_type, memb_status_desc, short_degree_string, parent_degree_string, short_degree_string_spouse, parent_degree_string_spouse, primary_sort_name, plan_name, primary_ind]
Index: []

In [7]:
saa_pride_data

Empty DataFrame
Columns: [index, pref_mail_name, pref_class_year, home_city, home_state_code, home_country, home_phone_area_code, home_phone_number, home_email_address, bus_city, bus_state_code, bus_country, bus_phone_area_code, bus_phone_number, bus_email_address, first_name, last_name, pref_name_sort, email_switch, saa_email_address, gsb_email_address, other_email_address, pref_phone_area_code, pref_phone_number, pref_phone_addr_type, memb_status_desc, short_degree_string, parent_degree_string, short_degree_string_spouse, parent_degree_string_spouse, primary_sort_name, plan_name, primary_ind]
Index: []

In [8]:
saa_mock = pd.read_excel('../data/SAA_FakeDB.xlsx')
saa_mock

,pref_mail_name,pref_class_year,home_city,home_state_code,home_country,home_phone_area_code,home_phone_number,home_email_address,bus_city,bus_state_code,bus_country,bus_phone_area_code,bus_phone_number,bus_email_address,first_name,last_name,pref_name_sort,email_switch,saa_email_address,gsb_email_address,other_email_address,pref_phone_area_code,pref_phone_number,pref_phone_addr_type,memb_status_desc,short_degree_string,parent_degree_string,short_degree_string_spouse,parent_degree_string_spouse,primary_sort_name,plan_name,primary_ind,0
0,NaN,NaN,London,NaN,NaN,NaN,NaN,*,NaN,NaN,Kuwait,NaN,NaN,NaN,Linda,Brown,NaN,NaN,lindab1567@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"PhD '94, BA '82",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Madrid,NaN,Japan,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,Mary,Rodriguez,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,"MA '85, BS '92",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Shanghai,NaN,USA,NaN,898 7073-217,NaN,NaN,NaN,UAE,NaN,NaN,NaN,Sarah,Rodriguez,NaN,NaN,sarah.rodriguez992@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"BS '88, BS '95, MA '85",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Chicago,IL,UAE,NaN,NaN,NaN,NaN,NaN,China,NaN,NaN,NaN,Jessica,Jones,NaN,NaN,jessicaj5803@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,MBA '81,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,1994.0,Seoul,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jessica,Martinez,NaN,NaN,jessicamartinez1707@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,NaN,Beijing,NaN,UAE,NaN,NaN,NaN,NaN,NaN,USA,NaN,NaN,NaN,Oliver,Rodriguez,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,NaN,Seoul,NaN,UAE,NaN,NaN,*,NaN,NaN,Kuwait,NaN,NaN,NaN,James,Brown,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,"BS '94, MS '92",NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,Beijing,NaN,UAE,NaN,NaN,elizabeth.martinez6250@gmail.com,NaN,NaN,Japan,NaN,NaN,NaN,Elizabeth,Martinez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"'85, MBA '87, '92",NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,NaN,2011.0,NaN,NaN,*,NaN,NaN,sbrown7443@stanfordalumni.org,NaN,NaN,Japan,NaN,NaN,NaN,Sarah,Brown,NaN,NaN,sarahb7790@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"PhD '84, MS '91",NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,Shanghai,NaN,*,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Elizabeth,Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MS '83,NaN,NaN,NaN,NaN,NaN,NaN,NaN

A random mock dataset was produced from the format of the SAA database for a proof of concept.

In [35]:
# Filter necessary columns
saa_mock2 = saa_mock.filter(['pref_class_year', 'home_country', 'home_email_address',\
                 'bus_email_address', 'first_name', 'email_switch',\
                'saa_email_address', 'gsb_email_address', 'other_email_address',\
                'short_degree_string'])
saa_mock2

,pref_class_year,home_country,home_email_address,bus_email_address,first_name,email_switch,saa_email_address,gsb_email_address,other_email_address,short_degree_string
0,NaN,NaN,*,NaN,Linda,NaN,lindab1567@alumni.stanford.edu,NaN,NaN,"PhD '94, BA '82"
1,NaN,Japan,*,NaN,Mary,NaN,*,NaN,NaN,"MA '85, BS '92"
2,NaN,USA,NaN,NaN,Sarah,NaN,sarah.rodriguez992@alumni.stanford.edu,NaN,NaN,"BS '88, BS '95, MA '85"
3,NaN,UAE,NaN,NaN,Jessica,NaN,jessicaj5803@alumni.stanford.edu,NaN,NaN,MBA '81
4,1994.0,*,NaN,NaN,Jessica,NaN,jessicamartinez1707@alumni.stanford.edu,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
95,NaN,UAE,NaN,NaN,Oliver,NaN,*,NaN,NaN,NaN
96,NaN,UAE,*,NaN,James,NaN,*,NaN,NaN,"BS '94, MS '92"
97,NaN,UAE,elizabeth.martinez6250@gmail.com,NaN,Elizabeth,NaN,NaN,NaN,NaN,"'85, MBA '87, '92"
98,2011.0,*,sbrown7443@stanfordalumni.org,NaN,Sarah,NaN,sarahb7790@alumni.stanford.edu,NaN,NaN,"PhD '84, MS '91"
99,NaN,*,NaN,NaN,Elizabeth,NaN,NaN,NaN,NaN,MS '83

In [37]:
# Need to split short_degree_string for OneHotEncoding
saa_mock2.short_degree_string[0]

"PhD '94, BA '82"

In [41]:
saa_mock2['short_degree_string'] = saa_mock2['short_degree_string'].str.split()

In [42]:
unique_degree_list = []
for degrees in saa_mock2['short_degree_string'].dropna().tolist():
    for degree in degrees:
        unique_degree_list.append(degree)
unique_degree_list =list(set(unique_degree_list))
unique_degree_list

["'93,",
 "'92,",
 "'84,",
 "'97",
 "'86,",
 "'91,",
 "'82,",
 "'90",
 "'85",
 "'81",
 "'83,",
 'MD',
 "'87",
 "'92",
 "'87,",
 "'96",
 "'81,",
 "'99,",
 "'88,",
 'PhD',
 'BS',
 'JD',
 'BA',
 "'95,",
 "'95",
 "'85,",
 "'89,",
 "'94",
 "'88",
 "'89",
 'MS',
 'MA',
 "'98",
 "'96,",
 "'80,",
 "'80",
 "'83",
 "'90,",
 "'91",
 "'99",
 "'97,",
 "'98,",
 'MBA',
 "'84",
 "'82",
 "'86",
 "'94,",
 "'93"]

In [43]:
mailchimp_mock = pd.read_csv('../data/Fake_MailChimp_cleaned.csv')
mailchimp_mock

,Unnamed: 0,Email Address,First Name,Last Name,Board Member,Gender,Chapter,Reunion Year,Country,Degree,MEMBER_RATING,OPTIN_TIME,OPTIN_IP,CONFIRM_TIME,CONFIRM_IP,LATITUDE,LONGITUDE,GMTOFF,DSTOFF,TIMEZONE,CC,REGION,CLEAN_TIME,CLEAN_CAMPAIGN_TITLE,CLEAN_CAMPAIGN_ID,LEID,EUID,NOTES,TAGS,0
0,0,brodriguez369@gmail.com,Barbara,Rodriguez,True,NaN,New England,NaN,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,liamjones7027@stanfordalumni.org,Liam,Jones,False,M,Bay Area,NaN,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,lindam7966@alumni.stanford.edu,Liam,Rodriguez,True,NaN,Bay Area,NaN,USA,MD;MA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,liam.garcia7988@stanfordalumni.org,Liam,Garcia,True,F,New England,NaN,USA,MS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,m.davis4650@gmail.com,Mary,Johnson,True,NaN,Texas,NaN,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
# Filter necessary columns
mailchimp_mock2 = mailchimp_mock.filter(['Email Address', 'First Name', 'Last Name',\
                      'Chapter', 'Country', 'Degree'])
mailchimp_mock2

,Email Address,First Name,Last Name,Chapter,Country,Degree
0,brodriguez369@gmail.com,Barbara,Rodriguez,New England,USA,NaN
1,liamjones7027@stanfordalumni.org,Liam,Jones,Bay Area,USA,NaN
2,lindam7966@alumni.stanford.edu,Liam,Rodriguez,Bay Area,USA,MD;MA
3,liam.garcia7988@stanfordalumni.org,Liam,Garcia,New England,USA,MS
4,m.davis4650@gmail.com,Mary,Johnson,Texas,USA,NaN

### Similarity Function Building

In [45]:
# First we take a row we are trying to identify.
mailchimp_mock2.iloc[0]

Email Address    brodriguez369@gmail.com
First Name                       Barbara
Last Name                      Rodriguez
Chapter                      New England
Country                              USA
Degree                               NaN
Name: 0, dtype: object

In [46]:
# We then subset the SAA data by the first name
sub_saa = saa_mock[saa_mock['first_name'] == 'Barbara'].astype(str)
sub_saa

,pref_mail_name,pref_class_year,home_city,home_state_code,home_country,home_phone_area_code,home_phone_number,home_email_address,bus_city,bus_state_code,bus_country,bus_phone_area_code,bus_phone_number,bus_email_address,first_name,last_name,pref_name_sort,email_switch,saa_email_address,gsb_email_address,other_email_address,pref_phone_area_code,pref_phone_number,pref_phone_addr_type,memb_status_desc,short_degree_string,parent_degree_string,short_degree_string_spouse,parent_degree_string_spouse,primary_sort_name,plan_name,primary_ind,0
28,nan,2003.0,Dubai,nan,*,nan,nan,barbara.smith9669@gmail.com,nan,nan,Japan,nan,nan,nan,Barbara,Smith,nan,nan,b.smith5277@stanfordalumni.org,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
66,nan,nan,Boston,MA,nan,nan,nan,nan,nan,nan,Kuwait,nan,nan,bjohnson6108@stanfordalumni.org,Barbara,Johnson,nan,nan,*,barbaraj9242@gmail.com,nan,nan,nan,nan,nan,'93,nan,nan,nan,nan,nan,nan,nan
73,nan,1991.0,Dubai,nan,USA,nan,*,brodriguez369@stanfordalumni.org,nan,nan,United States,nan,nan,nan,Barbara,Rodriguez,nan,nan,barbara.rodriguez5922@stanfordalumni.org,brodriguez2537@alumni.stanford.edu,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
76,nan,nan,nan,nan,UAE,nan,nan,*,nan,nan,nan,nan,nan,nan,Barbara,Rodriguez,nan,nan,barbara.rodriguez2112@stanfordalumni.org,nan,nan,nan,nan,nan,nan,'97,nan,nan,nan,nan,nan,nan,nan

In [47]:
# Now we one hot encode the subset
ohe = OneHotEncoder()
ohe.fit(sub_saa)

OneHotEncoder()

In [51]:
encoded_sub_saa = ohe.transform(sub_saa)

In [54]:
col_names = [ohe.get_feature_names()]
col_names

[array(['x0_nan', 'x1_1991.0', 'x1_2003.0', 'x1_nan', 'x2_Boston',
        'x2_Dubai', 'x2_nan', 'x3_MA', 'x3_nan', 'x4_*', 'x4_UAE',
        'x4_USA', 'x4_nan', 'x5_nan', 'x6_*', 'x6_nan', 'x7_*',
        'x7_barbara.smith9669@gmail.com',
        'x7_brodriguez369@stanfordalumni.org', 'x7_nan', 'x8_nan',
        'x9_nan', 'x10_Japan', 'x10_Kuwait', 'x10_United States',
        'x10_nan', 'x11_nan', 'x12_nan',
        'x13_bjohnson6108@stanfordalumni.org', 'x13_nan', 'x14_Barbara',
        'x15_Johnson', 'x15_Rodriguez', 'x15_Smith', 'x16_nan', 'x17_nan',
        'x18_*', 'x18_b.smith5277@stanfordalumni.org',
        'x18_barbara.rodriguez2112@stanfordalumni.org',
        'x18_barbara.rodriguez5922@stanfordalumni.org',
        'x19_barbaraj9242@gmail.com',
        'x19_brodriguez2537@alumni.stanford.edu', 'x19_nan', 'x20_nan',
        'x21_nan', 'x22_nan', 'x23_nan', 'x24_nan', "x25_'93", "x25_'97",
        'x25_nan', 'x26_nan', 'x27_nan', 'x28_nan', 'x29_nan', 'x30_nan',
        'x31_nan', 'x32_nan'], dtype=object)]

"nan" problem when it was converted to a string.

ValueError: Shape of passed values is (4, 1), indices imply (4, 58)

## Scratchwork

In [7]:
if str(combined_data['email_switch']).find('(pref)'):
    combined_data['Email Address'] = combined_data['email_switch']

In [8]:
if '(pref)' not in combined_data['email_switch']: 
    pass
else:
    combined_data['Email Address'] = combined_data['email_switch']

In [36]:
name_first = input('First Name: ')
name_last = input('Last Name: ')
pref_email = input('Preferred Email Address: ')

First Name: Ash
Last Name: Ketchum
Preferred Email Address: Poke1@gmail.com

In [37]:
def create_df(name1, name2, email):
    new_df = pd.DataFrame(columns=['First_Name', 'Last_Name', 'Preferred_Email'])
    df2 = {'First_Name': name1, 'Last_Name': name2, 'Preferred_Email': email}
    new_df = new_df.append(df2, ignore_index = True)
    return new_df

In [38]:
df = create_df(name_first, name_last, pref_email)
df

  First_Name Last_Name  Preferred_Email
0        Ash   Ketchum  Poke1@gmail.com

In [39]:
df2 = {'First Name': 'Harry', 'Last Name': 'Potter', 'Email Address': 'email@email.com'}
combined_data = combined_data.append(df2, ignore_index = True)
combined_data

,Email Address,First Name,Last Name,Board Member,Gender,Chapter,Reunion Year,Country,Degree,MEMBER_RATING,OPTIN_TIME,OPTIN_IP,CONFIRM_TIME,CONFIRM_IP,LATITUDE,LONGITUDE,GMTOFF,DSTOFF,TIMEZONE,CC,REGION,CLEAN_TIME,CLEAN_CAMPAIGN_TITLE,CLEAN_CAMPAIGN_ID,LEID,EUID,NOTES,TAGS,pref_mail_name,pref_class_year,home_city,home_state_code,home_country,home_phone_area_code,home_phone_number,home_email_address,bus_city,bus_state_code,bus_country,bus_phone_area_code,bus_phone_number,bus_email_address,first_name,last_name,pref_name_sort,email_switch,saa_email_address,gsb_email_address,other_email_address,pref_phone_area_code,pref_phone_number,pref_phone_addr_type,memb_status_desc,short_degree_string,parent_degree_string,short_degree_string_spouse,parent_degree_string_spouse,primary_sort_name,plan_name,primary_ind
0,email@email.com,Harry,Potter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
df2 = {'First Name': 'Walter', 'Last Name': 'White', 'Email Address': 'science@stanford.edu'}
combined_data = combined_data.append(df2, ignore_index = True)
combined_data

,Email Address,First Name,Last Name,Board Member,Gender,Chapter,Reunion Year,Country,Degree,MEMBER_RATING,OPTIN_TIME,OPTIN_IP,CONFIRM_TIME,CONFIRM_IP,LATITUDE,LONGITUDE,GMTOFF,DSTOFF,TIMEZONE,CC,REGION,CLEAN_TIME,CLEAN_CAMPAIGN_TITLE,CLEAN_CAMPAIGN_ID,LEID,EUID,NOTES,TAGS,pref_mail_name,pref_class_year,home_city,home_state_code,home_country,home_phone_area_code,home_phone_number,home_email_address,bus_city,bus_state_code,bus_country,bus_phone_area_code,bus_phone_number,bus_email_address,first_name,last_name,pref_name_sort,email_switch,saa_email_address,gsb_email_address,other_email_address,pref_phone_area_code,pref_phone_number,pref_phone_addr_type,memb_status_desc,short_degree_string,parent_degree_string,short_degree_string_spouse,parent_degree_string_spouse,primary_sort_name,plan_name,primary_ind
0,email@email.com,Harry,Potter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,science@stanford.edu,Walter,White,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
def update_df(df, name1, name2, email):
    df.at[df.set_index('Email Address').loc[email]['First Name']] = name1
    df.at[df.set_index('First Name').loc[name1]['Preferred Email Address']] = email
    df.at[df.set_index('First Name').loc[name1]['Last Name']] = name2
    return df

In [ ]:
# sub_set = saa_mock.sample(frac=.25, random_state=42)
# sub_set

## Next Steps

Next step would be to take a proactive approach to mitigate the number of emails that bounce in the future. I would suggest using the salesforce dataset to check for recent grads to reach out before they lose their student emails and ask for updated contact information and their subsequent plans after graduation. It would be easier to update records proactively when we still have accurate contact information. For subsequent plans after graduation, this would be to keeping location information of members to more accurately send regional events and functions.