In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics.pairwise import cosine_similarity

In [17]:
mailchimp_data = pd.read_csv('./MailChimp_cleaned_records_headers.csv')
pd.set_option('max_columns', None)
mailchimp_data

Empty DataFrame
Columns: [Email Address, First Name, Last Name, Board Member, Gender, Chapter, Reunion Year, Country, Degree, MEMBER_RATING, OPTIN_TIME, OPTIN_IP, CONFIRM_TIME, CONFIRM_IP, LATITUDE, LONGITUDE, GMTOFF, DSTOFF, TIMEZONE, CC, REGION, CLEAN_TIME, CLEAN_CAMPAIGN_TITLE, CLEAN_CAMPAIGN_ID, LEID, EUID, NOTES, TAGS]
Index: []

In [18]:
# mailchimp_data.drop(['Board Member', 'Gender', 'Reunion Year',\
#                      'Country', 'Degree', 'MEMBER_RATING',\
#                      'OPTIN_TIME', 'OPTIN_IP', 'CONFIRM_TIME',\
#                      'CONFIRM_IP', 'LATITUDE','LONGITUDE', 'GMTOFF',\
#                      'DSTOFF', 'TIMEZONE', 'CC', 'REGION', 'LEID',\
#                      'EUID', 'NOTES', 'TAGS'], axis =1, inplace=True)
# mailchimp_data

The mailchimp dataset comes from the salesforce dataset. This Cleaned dataset would only include emails that have bounced for one reason or another. It will not include any members who have opted out of the email service or those that are receiving emails without any complications. It is important to note that updating information within salesforce for those who have opted out may re-instantiate the email services so we are specifically working with cleaned/bounced records. Additionally, the datasets created for those who are Subscribed and Unsubscribed will have different column names than the Cleaned dataset here (ie Clean_Time, Clean_campaign_title, ect). Therefore any function created here may not work for those datasets.

In [19]:
saa_pride_data = pd.read_excel('./SAA Pride member reports headings.xlsx')
saa_pride_data.reset_index(inplace = True)
saa_pride_data

Empty DataFrame
Columns: [index, pref_mail_name, pref_class_year, home_city, home_state_code, home_country, home_phone_area_code, home_phone_number, home_email_address, bus_city, bus_state_code, bus_country, bus_phone_area_code, bus_phone_number, bus_email_address, first_name, last_name, pref_name_sort, email_switch, saa_email_address, gsb_email_address, other_email_address, pref_phone_area_code, pref_phone_number, pref_phone_addr_type, memb_status_desc, short_degree_string, parent_degree_string, short_degree_string_spouse, parent_degree_string_spouse, primary_sort_name, plan_name, primary_ind]
Index: []

In [20]:
# saa_pride_data.drop(['home_country', 'home_phone_area_code',\
#                      'home_phone_number', 'bus_city', 'bus_state_code',\
#                     'bus_country', 'bus_phone_area_code',\
#                      'bus_phone_number', 'bus_email_address',
#                     'pref_phone_area_code', 'pref_phone_addr_type',
#                     'memb_status_desc', 'parent_degree_string', \
#                     'short_degree_string_spouse', 
#                      'parent_degree_string_spouse', 'primary_sort_name',\
#                     'plan_name', 'primary_ind'], axis =1, inplace=True)
# saa_pride_data

The Stanford Alumni Association has it's own dataset that may or may not have additional or more recent data on some of the members. It may also have outdated data. Students are given an email but when they become alumni the email needs to be updated. Whether it is updated to specifically an 'alumni.stanford.edu' address or to another would be at the students discrepancy and isn't always updated.

In [21]:
combined_data = mailchimp_data.merge(saa_pride_data,\
                                     left_on =['First Name', 'Last Name'],\
                                     right_on=['first_name', 'last_name'],\
                                     how='outer')
combined_data

Empty DataFrame
Columns: [Email Address, First Name, Last Name, Board Member, Gender, Chapter, Reunion Year, Country, Degree, MEMBER_RATING, OPTIN_TIME, OPTIN_IP, CONFIRM_TIME, CONFIRM_IP, LATITUDE, LONGITUDE, GMTOFF, DSTOFF, TIMEZONE, CC, REGION, CLEAN_TIME, CLEAN_CAMPAIGN_TITLE, CLEAN_CAMPAIGN_ID, LEID, EUID, NOTES, TAGS, index, pref_mail_name, pref_class_year, home_city, home_state_code, home_country, home_phone_area_code, home_phone_number, home_email_address, bus_city, bus_state_code, bus_country, bus_phone_area_code, bus_phone_number, bus_email_address, first_name, last_name, pref_name_sort, email_switch, saa_email_address, gsb_email_address, other_email_address, pref_phone_area_code, pref_phone_number, pref_phone_addr_type, memb_status_desc, short_degree_string, parent_degree_string, short_degree_string_spouse, parent_degree_string_spouse, primary_sort_name, plan_name, primary_ind]
Index: []

In [22]:
saa_pride_data

Empty DataFrame
Columns: [index, pref_mail_name, pref_class_year, home_city, home_state_code, home_country, home_phone_area_code, home_phone_number, home_email_address, bus_city, bus_state_code, bus_country, bus_phone_area_code, bus_phone_number, bus_email_address, first_name, last_name, pref_name_sort, email_switch, saa_email_address, gsb_email_address, other_email_address, pref_phone_area_code, pref_phone_number, pref_phone_addr_type, memb_status_desc, short_degree_string, parent_degree_string, short_degree_string_spouse, parent_degree_string_spouse, primary_sort_name, plan_name, primary_ind]
Index: []

In [23]:
saa_mock = pd.read_excel('../data/SAA_FakeDB.xlsx')
saa_mock

,pref_mail_name,pref_class_year,home_city,home_state_code,home_country,home_phone_area_code,home_phone_number,home_email_address,bus_city,bus_state_code,bus_country,bus_phone_area_code,bus_phone_number,bus_email_address,first_name,last_name,pref_name_sort,email_switch,saa_email_address,gsb_email_address,other_email_address,pref_phone_area_code,pref_phone_number,pref_phone_addr_type,memb_status_desc,short_degree_string,parent_degree_string,short_degree_string_spouse,parent_degree_string_spouse,primary_sort_name,plan_name,primary_ind,0
0,NaN,NaN,London,NaN,NaN,NaN,NaN,*,NaN,NaN,Kuwait,NaN,NaN,NaN,Linda,Brown,NaN,NaN,lindab1567@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"PhD '94, BA '82",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Madrid,NaN,Japan,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,Mary,Rodriguez,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,"MA '85, BS '92",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,Shanghai,NaN,USA,NaN,898 7073-217,NaN,NaN,NaN,UAE,NaN,NaN,NaN,Sarah,Rodriguez,NaN,NaN,sarah.rodriguez992@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"BS '88, BS '95, MA '85",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,Chicago,IL,UAE,NaN,NaN,NaN,NaN,NaN,China,NaN,NaN,NaN,Jessica,Jones,NaN,NaN,jessicaj5803@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,MBA '81,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,1994.0,Seoul,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jessica,Martinez,NaN,NaN,jessicamartinez1707@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,NaN,Beijing,NaN,UAE,NaN,NaN,NaN,NaN,NaN,USA,NaN,NaN,NaN,Oliver,Rodriguez,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,NaN,Seoul,NaN,UAE,NaN,NaN,*,NaN,NaN,Kuwait,NaN,NaN,NaN,James,Brown,NaN,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,"BS '94, MS '92",NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,Beijing,NaN,UAE,NaN,NaN,elizabeth.martinez6250@gmail.com,NaN,NaN,Japan,NaN,NaN,NaN,Elizabeth,Martinez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"'85, MBA '87, '92",NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,NaN,2011.0,NaN,NaN,*,NaN,NaN,sbrown7443@stanfordalumni.org,NaN,NaN,Japan,NaN,NaN,NaN,Sarah,Brown,NaN,NaN,sarahb7790@alumni.stanford.edu,NaN,NaN,NaN,NaN,NaN,NaN,"PhD '84, MS '91",NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,Shanghai,NaN,*,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Elizabeth,Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MS '83,NaN,NaN,NaN,NaN,NaN,NaN,NaN

A random mock dataset was produced from the format of the SAA database for a proof of concept.

In [24]:
# Filter necessary columns
saa_mock2 = saa_mock.filter(['home_country', 'home_email_address',\
                 'bus_email_address', 'first_name', 'last_name', 'email_switch',\
                'saa_email_address', 'gsb_email_address', 'other_email_address',])
saa_mock2

,home_country,home_email_address,bus_email_address,first_name,last_name,email_switch,saa_email_address,gsb_email_address,other_email_address
0,NaN,*,NaN,Linda,Brown,NaN,lindab1567@alumni.stanford.edu,NaN,NaN
1,Japan,*,NaN,Mary,Rodriguez,NaN,*,NaN,NaN
2,USA,NaN,NaN,Sarah,Rodriguez,NaN,sarah.rodriguez992@alumni.stanford.edu,NaN,NaN
3,UAE,NaN,NaN,Jessica,Jones,NaN,jessicaj5803@alumni.stanford.edu,NaN,NaN
4,*,NaN,NaN,Jessica,Martinez,NaN,jessicamartinez1707@alumni.stanford.edu,NaN,NaN
...,...,...,...,...,...,...,...,...,...
95,UAE,NaN,NaN,Oliver,Rodriguez,NaN,*,NaN,NaN
96,UAE,*,NaN,James,Brown,NaN,*,NaN,NaN
97,UAE,elizabeth.martinez6250@gmail.com,NaN,Elizabeth,Martinez,NaN,NaN,NaN,NaN
98,*,sbrown7443@stanfordalumni.org,NaN,Sarah,Brown,NaN,sarahb7790@alumni.stanford.edu,NaN,NaN
99,*,NaN,NaN,Elizabeth,Smith,NaN,NaN,NaN,NaN

In [25]:
# Need to split short_degree_string for OneHotEncoding
# saa_mock2.short_degree_string[0]

In [26]:
# saa_mock2['short_degree_string'] = saa_mock2['short_degree_string'].str.split()

In [27]:
# unique_degree_list = []
# for degrees in saa_mock2['short_degree_string'].dropna().tolist():
#     for degree in degrees:
#         unique_degree_list.append(degree)
# unique_degree_list =list(set(unique_degree_list))
# unique_degree_list

In [28]:
mailchimp_mock = pd.read_csv('../data/Fake_MailChimp_cleaned.csv')
mailchimp_mock

,Email Address,First Name,Last Name,Board Member,Gender,Chapter,Reunion Year,Country,Degree,MEMBER_RATING,OPTIN_TIME,OPTIN_IP,CONFIRM_TIME,CONFIRM_IP,LATITUDE,LONGITUDE,GMTOFF,DSTOFF,TIMEZONE,CC,REGION,CLEAN_TIME,CLEAN_CAMPAIGN_TITLE,CLEAN_CAMPAIGN_ID,LEID,EUID,NOTES,TAGS
0,brodriguez369@gmail.com,Barbara,Rodriguez,True,NaN,New England,NaN,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,liamjones7027@stanfordalumni.org,Liam,Jones,False,M,Bay Area,NaN,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,lindam7966@alumni.stanford.edu,Liam,Rodriguez,True,NaN,Bay Area,NaN,USA,MD;MA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,liam.garcia7988@stanfordalumni.org,Liam,Garcia,True,F,New England,NaN,USA,MS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,m.davis4650@gmail.com,Mary,Johnson,True,NaN,Texas,NaN,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# Filter necessary columns
mailchimp_mock2 = mailchimp_mock.filter(['Email Address', 'First Name', 'Last Name',\
                    'Country'])
mailchimp_mock2

                        Email Address First Name  Last Name Country
0             brodriguez369@gmail.com    Barbara  Rodriguez     USA
1    liamjones7027@stanfordalumni.org       Liam      Jones     USA
2      lindam7966@alumni.stanford.edu       Liam  Rodriguez     USA
3  liam.garcia7988@stanfordalumni.org       Liam     Garcia     USA
4               m.davis4650@gmail.com       Mary    Johnson     USA

In [30]:
mailchimp_mock2['handle'] = mailchimp_mock2['Email Address'].str.split('@').str[0]
mailchimp_mock2

,Email Address,First Name,Last Name,Country,handle
0,brodriguez369@gmail.com,Barbara,Rodriguez,USA,brodriguez369
1,liamjones7027@stanfordalumni.org,Liam,Jones,USA,liamjones7027
2,lindam7966@alumni.stanford.edu,Liam,Rodriguez,USA,lindam7966
3,liam.garcia7988@stanfordalumni.org,Liam,Garcia,USA,liam.garcia7988
4,m.davis4650@gmail.com,Mary,Johnson,USA,m.davis4650

### Similarity Function Building (Cosine)

In [31]:
# # First we take a row we are trying to identify.
# target = mailchimp_mock2.iloc[0]
# target

In [32]:
# target_dict = {'first_name': target[1], 'last_name': target[2],\
#                'saa_email_address': target[0],
#                'home_email_address': target[0],
#                'bus_email_address': target[0],
#                'email_switch': target[0],
#                'gsb_email_address': target[0],
#                'other_email_address': target[0],
#                'home_country': target[3]}
# saa_mock2 = saa_mock2.append(target_dict, ignore_index = True)
# saa_mock2

In [33]:
# # We then subset the SAA data by the first name
# saa_mock2.fillna(value='Not Available', inplace=True)
# sub_saa = saa_mock2[saa_mock2['first_name'] == target[1]].astype(str)
# sub_saa

In [34]:
saa_mock2.fillna(value='Not Available', inplace=True)
emails = ['home_email_address', 'bus_email_address', 'email_switch', 'saa_email_address',\
         'gsb_email_address', 'other_email_address']
handles = []
for x in emails:
    for i in range(0,saa_mock2.shape[1]+1):
        if '@' in saa_mock2[x][i]:
            saa_mock2[x+'_handle'] = saa_mock2[x].str.split('@').str[0]
            handles.append(x+'_handle')
        else:
            pass

In [35]:
handles

['home_email_address_handle',
 'saa_email_address_handle',
 'saa_email_address_handle',
 'saa_email_address_handle',
 'saa_email_address_handle',
 'saa_email_address_handle']

In [36]:
saa_mock2

,home_country,home_email_address,bus_email_address,first_name,last_name,email_switch,saa_email_address,gsb_email_address,other_email_address,home_email_address_handle,saa_email_address_handle
0,Not Available,*,Not Available,Linda,Brown,Not Available,lindab1567@alumni.stanford.edu,Not Available,Not Available,*,lindab1567
1,Japan,*,Not Available,Mary,Rodriguez,Not Available,*,Not Available,Not Available,*,*
2,USA,Not Available,Not Available,Sarah,Rodriguez,Not Available,sarah.rodriguez992@alumni.stanford.edu,Not Available,Not Available,Not Available,sarah.rodriguez992
3,UAE,Not Available,Not Available,Jessica,Jones,Not Available,jessicaj5803@alumni.stanford.edu,Not Available,Not Available,Not Available,jessicaj5803
4,*,Not Available,Not Available,Jessica,Martinez,Not Available,jessicamartinez1707@alumni.stanford.edu,Not Available,Not Available,Not Available,jessicamartinez1707
...,...,...,...,...,...,...,...,...,...,...,...
95,UAE,Not Available,Not Available,Oliver,Rodriguez,Not Available,*,Not Available,Not Available,Not Available,*
96,UAE,*,Not Available,James,Brown,Not Available,*,Not Available,Not Available,*,*
97,UAE,elizabeth.martinez6250@gmail.com,Not Available,Elizabeth,Martinez,Not Available,Not Available,Not Available,Not Available,elizabeth.martinez6250,Not Available
98,*,sbrown7443@stanfordalumni.org,Not Available,Sarah,Brown,Not Available,sarahb7790@alumni.stanford.edu,Not Available,Not Available,sbrown7443,sarahb7790
99,*,Not Available,Not Available,Elizabeth,Smith,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available

In [37]:
emails, handles

(['home_email_address',
  'bus_email_address',
  'email_switch',
  'saa_email_address',
  'gsb_email_address',
  'other_email_address'],
 ['home_email_address_handle',
  'saa_email_address_handle',
  'saa_email_address_handle',
  'saa_email_address_handle',
  'saa_email_address_handle',
  'saa_email_address_handle'])

In [38]:
for i in range(0,mailchimp_mock2.shape[1]):
    target = mailchimp_mock2.iloc[i]
target

Email Address    m.davis4650@gmail.com
First Name                        Mary
Last Name                      Johnson
Country                            USA
handle                     m.davis4650
Name: 4, dtype: object

In [39]:
def ohe(df, column):    
    for col in column:
        train = df[[col]]
        ohe = OneHotEncoder(sparse=False, handle_unknown="error")
        ohe.fit(train)
        encoded_train = ohe.transform(train)
        col_names = [f"{col}_{f}" for f in ohe.get_feature_names()]
        encoded_train = pd.DataFrame(encoded_train,
                                     columns=col_names, index=df.index)
        df = pd.concat([df, encoded_train], axis=1)
        
    return df

In [40]:
results_dict = {}
for i in range(0,mailchimp_mock2.shape[1]):
    target = mailchimp_mock2.iloc[i]
    target_dict = {'first_name': [target[1]], 'last_name': [target[2]],\
               emails[0]: [target[0]],
               emails[1]: [target[0]],
               emails[2]: [target[0]],
               emails[3]: [target[0]],
               emails[4]: [target[0]],
               emails[5]: [target[0]],
                   handles[0]: [target[4]],
                   handles[1]: [target[4]],
                   handles[2]: [target[4]],
                   handles[3]: [target[4]],
                   handles[4]: [target[4]],
                   handles[5]: [target[4]],
               'home_country': [target[3]]}
    df = pd.DataFrame.from_dict(target_dict)
    subset_saa = saa_mock2[saa_mock2['first_name'] == df.loc[0,'first_name']] 
    #the 0 is calling for row, so it does not return a series
    subset_saa_new = pd.concat([df,subset_saa], axis = 0)
    ohe_df = ohe(subset_saa_new, subset_saa_new.columns)
    ohe_df.drop(columns = subset_saa_new.columns, inplace = True)
    y = np.array(ohe_df.iloc[0])
    y = y.reshape(1,-1)
    cos_sim = cosine_similarity(ohe_df, y)
    cos_sim = pd.DataFrame(data=cos_sim, index=ohe_df.index).sort_values(by=0, ascending=False) #[1:]
    results = list(cos_sim.index)
    results_df = subset_saa_new.loc[results]
    results_dict[i] = results_df

In [41]:
mailchimp_mock2

,Email Address,First Name,Last Name,Country,handle
0,brodriguez369@gmail.com,Barbara,Rodriguez,USA,brodriguez369
1,liamjones7027@stanfordalumni.org,Liam,Jones,USA,liamjones7027
2,lindam7966@alumni.stanford.edu,Liam,Rodriguez,USA,lindam7966
3,liam.garcia7988@stanfordalumni.org,Liam,Garcia,USA,liam.garcia7988
4,m.davis4650@gmail.com,Mary,Johnson,USA,m.davis4650

In [42]:
results_dict[3]

,first_name,last_name,home_email_address,bus_email_address,email_switch,saa_email_address,gsb_email_address,other_email_address,home_email_address_handle,saa_email_address_handle,home_country
0,Liam,Garcia,liam.garcia7988@stanfordalumni.org,liam.garcia7988@stanfordalumni.org,liam.garcia7988@stanfordalumni.org,liam.garcia7988@stanfordalumni.org,liam.garcia7988@stanfordalumni.org,liam.garcia7988@stanfordalumni.org,liam.garcia7988,liam.garcia7988,USA
92,Liam,Garcia,liamgarcia268@alumni.stanford.edu,Not Available,Not Available,liam.garcia848@alumni.stanford.edu,Not Available,Not Available,liamgarcia268,liam.garcia848,USA
30,Liam,Rodriguez,Not Available,liamrodriguez3500@stanfordalumni.org,Not Available,liam.rodriguez8596@stanfordalumni.org,Not Available,Not Available,Not Available,liam.rodriguez8596,China
34,Liam,Jones,l.jones1950@alumni.stanford.edu,Not Available,Not Available,Not Available,Not Available,Not Available,l.jones1950,Not Available,Not Available
82,Liam,Jones,*,Not Available,Not Available,liamj506@stanfordalumni.org,Not Available,Not Available,*,liamj506,China
86,Liam,Rodriguez,liam.rodriguez6028@stanfordalumni.org,Not Available,Not Available,*,Not Available,Not Available,liam.rodriguez6028,*,*

Put into a loop.

In [28]:
for x in range(len(mailchimp_mock2)):
    target = mailchimp_mock2.iloc[x]
    print(target[1])

Barbara
Liam
Liam
Liam
Mary

In [29]:
mailchimp_mock2

,Email Address,First Name,Last Name,Country,handle
0,brodriguez369@gmail.com,Barbara,Rodriguez,USA,brodriguez369
1,liamjones7027@stanfordalumni.org,Liam,Jones,USA,liamjones7027
2,lindam7966@alumni.stanford.edu,Liam,Rodriguez,USA,lindam7966
3,liam.garcia7988@stanfordalumni.org,Liam,Garcia,USA,liam.garcia7988
4,m.davis4650@gmail.com,Mary,Johnson,USA,m.davis4650

In [30]:
saa_mock2

,home_country,home_email_address,bus_email_address,first_name,last_name,email_switch,saa_email_address,gsb_email_address,other_email_address,home_email_address_handle,saa_email_address_handle
0,Not Available,*,Not Available,Linda,Brown,Not Available,lindab1567@alumni.stanford.edu,Not Available,Not Available,*,lindab1567
1,Japan,*,Not Available,Mary,Rodriguez,Not Available,*,Not Available,Not Available,*,*
2,USA,Not Available,Not Available,Sarah,Rodriguez,Not Available,sarah.rodriguez992@alumni.stanford.edu,Not Available,Not Available,Not Available,sarah.rodriguez992
3,UAE,Not Available,Not Available,Jessica,Jones,Not Available,jessicaj5803@alumni.stanford.edu,Not Available,Not Available,Not Available,jessicaj5803
4,*,Not Available,Not Available,Jessica,Martinez,Not Available,jessicamartinez1707@alumni.stanford.edu,Not Available,Not Available,Not Available,jessicamartinez1707
...,...,...,...,...,...,...,...,...,...,...,...
95,UAE,Not Available,Not Available,Oliver,Rodriguez,Not Available,*,Not Available,Not Available,Not Available,*
96,UAE,*,Not Available,James,Brown,Not Available,*,Not Available,Not Available,*,*
97,UAE,elizabeth.martinez6250@gmail.com,Not Available,Elizabeth,Martinez,Not Available,Not Available,Not Available,Not Available,elizabeth.martinez6250,Not Available
98,*,sbrown7443@stanfordalumni.org,Not Available,Sarah,Brown,Not Available,sarahb7790@alumni.stanford.edu,Not Available,Not Available,sbrown7443,sarahb7790
99,*,Not Available,Not Available,Elizabeth,Smith,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available

In [31]:
for i in range(0,mailchimp_mock2.shape[1]):
    print(i)

0
1
2
3
4

In [32]:
results_dict = {}
for i in range(0,mailchimp_mock2.shape[1]+1):
    target = mailchimp_mock2.iloc[i]
    target_dict = {'first_name': [target[1]], 'last_name': [target[2]],\
               'saa_email_address': [target[0]],
               'home_email_address': [target[0]],
               'bus_email_address': [target[0]],
               'email_switch': [target[0]],
               'gsb_email_address': [target[0]],
               'other_email_address': [target[0]],
               'home_country': [target[3]]}
    df = pd.DataFrame.from_dict(target_dict)
    subset_saa = saa_mock2[saa_mock2['first_name'] == df.loc[0,'first_name']] 
    #the 0 is calling for row, so it does not return a series
    subset_saa_new = pd.concat([df,subset_saa], axis = 0)
    ohe_df = ohe(subset_saa_new, subset_saa_new.columns)
    ohe_df.drop(columns = subset_saa_new.columns, inplace = True)
    y = np.array(ohe_df.iloc[0])
    y = y.reshape(1,-1)
    cos_sim = cosine_similarity(ohe_df, y)
    cos_sim = pd.DataFrame(data=cos_sim, index=ohe_df.index).sort_values(by=0, ascending=False) #[1:]
    results = list(cos_sim.index)
    results_df = subset_saa_new.loc[results]
    results_dict[i] = results_df

ValueError: Input contains NaN

In [33]:
mailchimp_mock2

,Email Address,First Name,Last Name,Country,handle
0,brodriguez369@gmail.com,Barbara,Rodriguez,USA,brodriguez369
1,liamjones7027@stanfordalumni.org,Liam,Jones,USA,liamjones7027
2,lindam7966@alumni.stanford.edu,Liam,Rodriguez,USA,lindam7966
3,liam.garcia7988@stanfordalumni.org,Liam,Garcia,USA,liam.garcia7988
4,m.davis4650@gmail.com,Mary,Johnson,USA,m.davis4650

In [44]:
results_dict[3]

,first_name,last_name,saa_email_address,home_email_address,bus_email_address,email_switch,gsb_email_address,other_email_address,home_country
0,Liam,Garcia,liam.garcia7988@stanfordalumni.org,liam.garcia7988@stanfordalumni.org,liam.garcia7988@stanfordalumni.org,liam.garcia7988@stanfordalumni.org,liam.garcia7988@stanfordalumni.org,liam.garcia7988@stanfordalumni.org,USA
92,Liam,Garcia,liam.garcia848@alumni.stanford.edu,liamgarcia268@alumni.stanford.edu,Not Available,Not Available,Not Available,Not Available,USA
30,Liam,Rodriguez,liam.rodriguez8596@stanfordalumni.org,Not Available,liamrodriguez3500@stanfordalumni.org,Not Available,Not Available,Not Available,China
34,Liam,Jones,Not Available,l.jones1950@alumni.stanford.edu,Not Available,Not Available,Not Available,Not Available,Not Available
82,Liam,Jones,liamj506@stanfordalumni.org,*,Not Available,Not Available,Not Available,Not Available,China
86,Liam,Rodriguez,*,liam.rodriguez6028@stanfordalumni.org,Not Available,Not Available,Not Available,Not Available,*

### Pokemon Data

In [2]:
saa_poke = pd.read_excel('../data/SAA_Pokemon_FakeDB.xlsx')
saa_poke
# Filter necessary columns
saa_poke2 = saa_poke.filter(['home_country', 'home_email_address',\
                 'bus_email_address', 'first_name', 'last_name', 'email_switch',\
                'saa_email_address', 'gsb_email_address', 'other_email_address',])
saa_poke2

,home_country,home_email_address,bus_email_address,first_name,last_name,email_switch,saa_email_address,gsb_email_address,other_email_address
0,USA,*,NaN,Growlithe,Ice,NaN,growlithei6777@alumni.stanford.edu,NaN,NaN
1,Japan,NaN,NaN,Weedle,Grass,weedleg3321@alumni.stanford.edu,weedleg1544@stanfordalumni.org,NaN,NaN
2,United States,*,NaN,Aerodactyl,Electric,a.electric3084@gmail.com,*,NaN,NaN
3,NaN,*,NaN,Pinsir,Fire,NaN,NaN,NaN,NaN
4,Kuwait,NaN,NaN,Horsea,Ice,NaN,*,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3995,NaN,selectric6927@gmail.com,NaN,Smeargle,Electric,NaN,NaN,NaN,NaN
3996,Kuwait,*,NaN,Kabutops,Steel,k.steel3283@stanfordalumni.org,k.steel5989@alumni.stanford.edu,NaN,NaN
3997,NaN,*,NaN,Slowking,Dragon,NaN,slowkingd2806@alumni.stanford.edu,NaN,NaN
3998,*,*,NaN,Larvitar,Electric,l.electric5116@stanfordalumni.org,lelectric1814@alumni.stanford.edu,NaN,NaN
3999,*,NaN,NaN,Ursaring,Dark,u.dark1810@alumni.stanford.edu,udark6908@stanfordalumni.org,NaN,NaN

In [3]:
mailchimp_poke = pd.read_csv('../data/Fake_MailChimp_cleaned_Pokemon.csv')
mailchimp_poke

,Email Address,First Name,Last Name,Board Member,Gender,Chapter,Reunion Year,Country,Degree,MEMBER_RATING,...,TIMEZONE,CC,REGION,CLEAN_TIME,CLEAN_CAMPAIGN_TITLE,CLEAN_CAMPAIGN_ID,LEID,EUID,NOTES,TAGS
0,slakoth.normal6516@gmail.com,Slakoth,Normal,False,M,Texas,NaN,Kuwait,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,e.rock7358@gmail.com,Espeon,Rock,True,NaN,New England,NaN,United States,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,rhydonghost7966@alumni.stanford.edu,Rhydon,Ghost,True,NaN,Bay Area,NaN,USA,MBA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,porygongrass8812@gmail.com,Porygon,Grass,True,F,Bay Area,NaN,Japan,MS,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tangelagrass6958@stanfordalumni.org,Tangela,Grass,False,F,Bay Area,NaN,United States,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,celectric2503@gmail.com,Chansey,Fairy,True,NaN,Other US,NaN,USA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,blisseyg9366@gmail.com,Blissey,Ghost,True,NaN,New England,NaN,Kingdom of Saudi Arabia,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Filter necessary columns
mailchimp_poke2 = mailchimp_poke.filter(['Email Address', 'First Name', 'Last Name',\
                    'Country'])
mailchimp_poke2

,Email Address,First Name,Last Name,Country
0,slakoth.normal6516@gmail.com,Slakoth,Normal,Kuwait
1,e.rock7358@gmail.com,Espeon,Rock,United States
2,rhydonghost7966@alumni.stanford.edu,Rhydon,Ghost,USA
3,porygongrass8812@gmail.com,Porygon,Grass,Japan
4,tangelagrass6958@stanfordalumni.org,Tangela,Grass,United States
5,celectric2503@gmail.com,Chansey,Fairy,USA
6,blisseyg9366@gmail.com,Blissey,Ghost,Kingdom of Saudi Arabia

In [5]:
mailchimp_poke2['handle'] = mailchimp_poke2['Email Address'].str.split('@').str[0]
mailchimp_poke2

,Email Address,First Name,Last Name,Country,handle
0,slakoth.normal6516@gmail.com,Slakoth,Normal,Kuwait,slakoth.normal6516
1,e.rock7358@gmail.com,Espeon,Rock,United States,e.rock7358
2,rhydonghost7966@alumni.stanford.edu,Rhydon,Ghost,USA,rhydonghost7966
3,porygongrass8812@gmail.com,Porygon,Grass,Japan,porygongrass8812
4,tangelagrass6958@stanfordalumni.org,Tangela,Grass,United States,tangelagrass6958
5,celectric2503@gmail.com,Chansey,Fairy,USA,celectric2503
6,blisseyg9366@gmail.com,Blissey,Ghost,Kingdom of Saudi Arabia,blisseyg9366

In [ ]:
saa_mock2.fillna(value='Not Available', inplace=True)
emails = ['home_email_address', 'bus_email_address', 'email_switch', 'saa_email_address',\
         'gsb_email_address', 'other_email_address']
handles = []
for x in emails:
    for i in range(0,saa_mock2.shape[1]+1):
        if '@' in saa_mock2[x][i]:
            saa_mock2[x+'_handle'] = saa_mock2[x].str.split('@').str[0]
            handles.append(x+'_handle')
        else:
            pass

In [22]:
# This will need to be implamented into the function
saa_poke2.fillna(value='Not Available', inplace=True)
emails = ['home_email_address', 'bus_email_address', 'email_switch', 'saa_email_address',\
         'gsb_email_address', 'other_email_address']
handles = []
for x in emails:
    for i in range(0,saa_poke2.shape[1]+1):
        if '@' in saa_poke2[x][i]:
            saa_poke2[x+'_handle'] = saa_poke2[x].str.split('@').str[0]
            #handles.append(x+'_handle')
        else:
            pass

In [23]:
def ohe(df, column):    
    for col in column:
        train = df[[col]]
        ohe = OneHotEncoder(sparse=False, handle_unknown="error")
        ohe.fit(train)
        encoded_train = ohe.transform(train)
        col_names = [f"{col}_{f}" for f in ohe.get_feature_names()]
        encoded_train = pd.DataFrame(encoded_train,
                                     columns=col_names, index=df.index)
        df = pd.concat([df, encoded_train], axis=1)
        
    return df

In [24]:
emails

['home_email_address',
 'bus_email_address',
 'email_switch',
 'saa_email_address',
 'gsb_email_address',
 'other_email_address']

In [49]:
handles = []
for i in range(0,len(emails)):
    handles.append(emails[i]+'_handle')
handles[1]

'bus_email_address_handle'

In [50]:
results_dict = {}
for i in range(0,mailchimp_poke2.shape[1]+1):
    target = mailchimp_poke2.iloc[i]
    target_dict = {'first_name': [target[1]], 'last_name': [target[2]],\
               emails[0]: [target[0]],\
               emails[1]: [target[0]],\
               emails[2]: [target[0]],\
               emails[3]: [target[0]],\
               emails[4]: [target[0]],\
               emails[5]: [target[0]],\
                   handles[0]: [target[4]],\
                   handles[1]: [target[4]],\
                   handles[2]: [target[4]],\
                   handles[3]: [target[4]],\
                   handles[4]: [target[4]],\
                   handles[5]: [target[4]],\
               'home_country': [target[3]]}
    df = pd.DataFrame.from_dict(target_dict)
    subset_saa = saa_poke2[saa_poke2['first_name'] == df.loc[0,'first_name']] 
    #the 0 is calling for row, so it does not return a series
    subset_saa_new = pd.concat([df,subset_saa], axis = 0)
    ohe_df = ohe(subset_saa_new, subset_saa_new.columns)
    ohe_df.drop(columns = subset_saa_new.columns, inplace = True)
    y = np.array(ohe_df.iloc[0])
    y = y.reshape(1,-1)
    cos_sim = cosine_similarity(ohe_df, y)
    cos_sim = pd.DataFrame(data=cos_sim, index=ohe_df.index).sort_values(by=0, ascending=False) #[1:]
    results = list(cos_sim.index)
    results_df = subset_saa_new.loc[results]
    results_dict[i] = results_df

ValueError: Input contains NaN

In [47]:
target[4]

'slakoth.normal6516'

In [44]:
subset_saa_new.head(1)

,first_name,last_name,home_email_address,bus_email_address,email_switch,saa_email_address,gsb_email_address,other_email_address,home_email_address_handle,email_switch_handle,saa_email_address_handle,gsb_email_address_handle,other_email_address_handle,home_country,bus_email_address_handle
0,Slakoth,Normal,slakoth.normal6516@gmail.com,slakoth.normal6516@gmail.com,slakoth.normal6516@gmail.com,slakoth.normal6516@gmail.com,slakoth.normal6516@gmail.com,slakoth.normal6516@gmail.com,slakoth.normal6516,slakoth.normal6516,slakoth.normal6516,slakoth.normal6516,slakoth.normal6516,Kuwait,NaN

In [65]:
mailchimp_poke2

,Email Address,First Name,Last Name,Country,handle
0,slakoth.normal6516@gmail.com,Slakoth,Normal,Kuwait,slakoth.normal6516
1,e.rock7358@gmail.com,Espeon,Rock,United States,e.rock7358
2,rhydonghost7966@alumni.stanford.edu,Rhydon,Ghost,USA,rhydonghost7966
3,porygongrass8812@gmail.com,Porygon,Grass,Japan,porygongrass8812
4,tangelagrass6958@stanfordalumni.org,Tangela,Grass,United States,tangelagrass6958
5,celectric2503@gmail.com,Chansey,Fairy,USA,celectric2503
6,blisseyg9366@gmail.com,Blissey,Ghost,Kingdom of Saudi Arabia,blisseyg9366

In [51]:
subset_saa

Empty DataFrame
Columns: [home_country, home_email_address, bus_email_address, first_name, last_name, email_switch, saa_email_address, gsb_email_address, other_email_address, home_email_address_handle, saa_email_address_handle]
Index: []

In [52]:
results_dict[4]

,first_name,last_name,home_email_address,bus_email_address,email_switch,saa_email_address,gsb_email_address,other_email_address,home_email_address_handle,saa_email_address_handle,home_country
0,Tangela,Grass,tangelagrass6958@stanfordalumni.org,tangelagrass6958@stanfordalumni.org,tangelagrass6958@stanfordalumni.org,tangelagrass6958@stanfordalumni.org,tangelagrass6958@stanfordalumni.org,tangelagrass6958@stanfordalumni.org,tangelagrass6958,tangelagrass6958,United States

## Scratchwork

In [29]:
if str(combined_data['email_switch']).find('(pref)'):
    combined_data['Email Address'] = combined_data['email_switch']

In [30]:
if '(pref)' not in combined_data['email_switch']: 
    pass
else:
    combined_data['Email Address'] = combined_data['email_switch']

In [31]:
name_first = input('First Name: ')
name_last = input('Last Name: ')
pref_email = input('Preferred Email Address: ')

KeyboardInterrupt: Interrupted by user

In [ ]:
def create_df(name1, name2, email):
    new_df = pd.DataFrame(columns=['First_Name', 'Last_Name', 'Preferred_Email'])
    df2 = {'First_Name': name1, 'Last_Name': name2, 'Preferred_Email': email}
    new_df = new_df.append(df2, ignore_index = True)
    return new_df

In [ ]:
df = create_df(name_first, name_last, pref_email)
df

In [ ]:
df2 = {'First Name': 'Harry', 'Last Name': 'Potter', 'Email Address': 'email@email.com'}
combined_data = combined_data.append(df2, ignore_index = True)
combined_data

In [ ]:
df2 = {'First Name': 'Walter', 'Last Name': 'White', 'Email Address': 'science@stanford.edu'}
combined_data = combined_data.append(df2, ignore_index = True)
combined_data

In [ ]:
def update_df(df, name1, name2, email):
    df.at[df.set_index('Email Address').loc[email]['First Name']] = name1
    df.at[df.set_index('First Name').loc[name1]['Preferred Email Address']] = email
    df.at[df.set_index('First Name').loc[name1]['Last Name']] = name2
    return df

In [ ]:
# sub_set = saa_mock.sample(frac=.25, random_state=42)
# sub_set

## Next Steps

Next step would be to take a proactive approach to mitigate the number of emails that bounce in the future. I would suggest using the salesforce dataset to check for recent grads to reach out before they lose their student emails and ask for updated contact information and their subsequent plans after graduation. It would be easier to update records proactively when we still have accurate contact information. For subsequent plans after graduation, this would be to keeping location information of members to more accurately send regional events and functions.